* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: $white;
    height: 100%;
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
    @supports(display: grid) {
        display: block;
    }
}

h1,
h2 {
    font: {
        family: $head-type;
        size: 3rem;
    }
}

h1 {
    font-size: 4.5rem;
    color: $head-color;
}

h4 {
    font-size: 1.2rem;
    font-family: $head-type;
    color: $blue;
    margin-bottom: 1rem;
}

h2 {
    color: $subhead-color;
}

p {
    line-height: 1.5;

    font: {
        family: $body-type;
        size: 1.125rem;
        weight: 200;
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.page-section {
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    width: 100vw;
    height: auto;
}

@media only screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 622px) {
    // adjust for rem unit
    html {
        font-size: 12px;
    }

    p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 378px) {
    // adjust for rem unit/
    html {
        font-size: 10px;
    }
}