@import url("https://fonts.googleapis.com/css?family=Oswald:200,700|Roboto+Condensed:300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #FBFBFB;
  height: 100%;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
@supports (display: grid) {
  body,
html {
    display: block;
  }
}

h1,
h2,
h3 {
  font-family: "Oswald", "Helvetica Neue", sans-serif;
  font-size: 3rem;
}

h1 {
  font-size: 4.5rem;
  color: #103272;
}

h2 {
  font-size: 2.35rem;
  margin-bottom: 2rem;
  color: #103272;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #103272;
}

h4 {
  font-size: 1.2rem;
  font-family: "Oswald", "Helvetica Neue", sans-serif;
  color: #103272;
  margin-bottom: 1rem;
}



p {
  line-height: 1.5;
  font-family: "Roboto Condensed", serif;
  font-size: 1.125rem;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a.hours {
  color: #103272;
  text-decoration: underline;
  font-weight: 600;
  transition: color 0.2s;
}

a.hours:hover{
  color: #BB1F3B;
}

.footer-link{
  transition: color 0.2s;
}

.footer-link:hover{
  color: #BB1F3B;
}

.email-link {
  color: #103272;
  text-decoration: underline;
  transition: color 0.2s;
}

.email-link:hover{
  color: #BB1F3B;
}

.page-section {
  overflow-x: hidden;
  position: relative;
  z-index: 0;
  width: 100vw;
  height: auto;
}

#home-link{
  cursor: pointer;
}


@media only screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 622px) {
  html {
    font-size: 12px;
  }

  p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 378px) {
  html {
    font-size: 10px;
  }
}
nav {
  position: fixed;
  z-index: 999;
  padding: 30px 25px 25px 30px;
  background-color: #FBFBFB;
  box-shadow: 0 0 30px rgba(16, 50, 114, 0.3);
}
nav button {
  border: none;
}
nav button.mobile.logo {
  padding: 0;
  margin: 0;
}
nav button.desktop {
  padding: 0;
}
nav .mobile {
  display: none;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav ul li {
  display: inline-block;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  margin-top: 10px;
  color: #32213A;
}

nav.mobile.mobile-menu {
  display: none;
  background-color: #FBFBFB;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20vh 0;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  align-items: flex-start;
  visibility: hidden;
  transform: translateY(-120%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
nav.mobile.mobile-menu .mobile.logo {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
}
nav.mobile.mobile-menu .mobile.logo figure {
  width: 3rem;
}
nav.mobile.mobile-menu .mobile.logo figure img {
  width: 100%;
  height: 100%;
}
nav.mobile.mobile-menu button {
  position: absolute;
  padding: 0;
}
nav.mobile.mobile-menu button.menu-exit {
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
nav.mobile.mobile-menu ul {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
}
nav.mobile.mobile-menu ul li {
  margin: 0.5rem 0;
  font-size: 3rem;
}

@media only screen and (max-width: 1460px) {
  nav {
    padding: 1rem 3rem;
    padding-bottom: 0.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0%);
    box-shadow: none;
    border-bottom: 1px solid lightgray;
  }
  nav.animate {
    transition: transform 0.2s cubic-bezier(1, 0, 0, 1), background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), border-bottom 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  nav img {
    margin-left: 0;
    margin-right: auto;
  }
  nav figure .mobile.menu {
    cursor: pointer;
  }
  nav.hide {
    transform: translateY(-130%);
  }
  nav .desktop {
    display: none;
  }
  nav .mobile {
    display: initial;
  }
  nav .mobile.logo {
    margin-bottom: 2vw;
  }
  nav .mobile.logo img {
    width: 80%;
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .index {
    background-color: unset;
    box-shadow: none;
    border-bottom: none;
    padding-top: 2rem;
  }
  .index button svg path {
    fill: #FBFBFB;
  }
  .index .mobile.logo {
    width: 2.5rem;
  }
  .index .mobile.logo img {
    width: 100%;
  }

  nav.mobile-menu.menu-active {
    background-color: #FBFBFB;
    transform: translateY(0%);
  }
}
/* 
    The footer is essentially a flex-box of articles
*/

footer {
  padding: 2vw 6vw 2vw 6vw;
  color: #32213A;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}
footer .footer-content article {
  margin: 0 1.5rem;
}
footer .footer-content article:first-child button {
  background: none;
  border: none;
  margin-bottom: 2rem;
  width: 35%;
  background: none;
  border: none;
}
footer .footer-content article:first-child button img {
  width: 100%;
}
footer .footer-content article:first-child address {
  font-style: normal;
  font-family: "Roboto Condensed", serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
footer .footer-content article:first-child address span {
  font-family: "Oswald", "Helvetica Neue", sans-serif;
}
footer .footer-content article h3 {
  font-family: "Oswald", "Helvetica Neue", sans-serif;
  color: #BB1F3B;
  margin-bottom: 1vw;
  font-size: 1.25rem;
}
footer .footer-content article ul {
  display: inline-block;
  list-style-type: none;
  font-family: "Roboto Condensed", serif;
}
footer .footer-content article ul li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
}
footer .footer-content article ul li address {
  font-style: normal;
}
footer .footer-etc {
  padding: 0 1.4rem;
  display: flex;
  justify-content: space-between;
}
footer .footer-etc #copyright {
  line-height: 2;
  font-family: "Roboto Condensed", serif;
  vertical-align: middle;
}
footer .footer-etc #social-media {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 10%;
}
footer .footer-etc #social-media img {
  margin: 0 0.5rem;
  min-width: 1.5rem;
  width: 50%;
}

.footer\:home {
  background-color: black;
}
.footer\:home li, .footer\:home address, .footer\:home #copyright {
  color: #FBFBFB;
}

@media only screen and (max-width: 1100px) {
  footer {
    padding: 2rem 6vw;
  }
  footer .footer-content {
    flex-flow: row wrap;
    align-content: flex-start;
  }
  footer .footer-content article {
    flex: 1 40%;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  footer .footer-content {
    padding: 5% 0;
    margin-bottom: 0;
  }
  footer .footer-content article {
    margin-bottom: 1.5rem;
  }
  footer .footer-content article h3 {
    font-size: 1.5rem;
  }
  footer .footer-content article ul li {
    font-size: 1.125rem;
  }
  footer .footer-etc #social-media {
    width: 30%;
  }
  footer .footer-etc #social-media img {
    float: right;
    width: 2rem;
    margin-left: 10%;
  }
}
button {
  border: 2px solid #FBFBFB;
  color: #FBFBFB;
  font-size: 1.5rem;
  padding: 10px 0px;
  font-style: normal;
  background: none;
  font-family: "Roboto Condensed", serif;
  text-decoration: none;
}

button:active {
  box-shadow: none;
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.article-hero button {
  transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1);
}

.article-hero button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.identity-block-description_contentbutton {
  transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1);
}

.identity-block-description_content button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.article-final-cta-block button{
  transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1);
}
.article-final-cta-block button:hover{
  cursor: pointer;
  color: black;
  background-color: white;
}


/* 
    My CSS is based on section blocks
    There is no convention or specific design pattern
    It's just CSS that get's more specific through the nested classes
*/
.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
}
@supports (display: grid) {
  .message {
    display: none;
  }
}

.section {
  display: none;
}
@supports (display: grid) {
  .section {
    display: block;
  }
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-image: url("https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  background-position: center top;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
}
.item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.item:hover {
  z-index: 50;
  transform: scale(1.05);
}
.item--medium {
  grid-row-end: span 2;
}
.item--wide {
  grid-row-end: span 2;
  grid-column-end: span 2;
}
.item--large {
  grid-row-end: span 4;
}
.item--full {
  grid-column-end: auto;
}
@media screen and (min-width: 768px) {
  .item--full {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}
.item__details {
  position: relative;
  z-index: 1;
  padding: 15px;
  color: #444;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
}
.item__details:before {
  content: counter(item-counter);
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 0.5em;
  color: #444;
}

.subpage p {
  line-height: 1.5;
}
.subpage h1, .subpage h2 {
  line-height: 1.2;
}
.subpage h1 {
  color: #103272;
}
.subpage address {
  font-style: normal;
  font-family: "Roboto Condensed", serif;
  line-height: 1.5;
}
.subpage address span {
  font-family: "Oswald", "Helvetica Neue", sans-serif;
}
.subpage .page-section:nth-child(3) {
  margin-top: 5.5rem;
}
.subpage .page-section {
  padding: 2vh 10vw;
}
.subpage .page-section h1 {
  margin-bottom: 2rem;
}
.subpage .page-section figure {
  position: relative;
  width: 100vw;
  left: -10vw;
  margin-bottom: 3.5rem;
}
.subpage .page-section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subpage .page-section p {
  margin-bottom: 2rem;
}

.hero-block {
  background: url("../img/identity/gallery/31.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  max-height: 1080px;
  height: 100vh;
  width: 100vw;
  padding: 3vw 5vw;
  display: flex;
  z-index: 0;
}

/*
The position of the hero text article is controlled by padding and margins
Ideally, it should be absolutely positioned in a relative container
*/
.article-hero {
  max-width: 40%;
  padding: 4vw 0 2vw 12vw;
}
.article-hero h1 {
  margin-bottom: 6vw;
  padding-bottom: 10px;
  line-height: 120%;
  color: #FBFBFB;
}
.article-hero h1 span {
  color: #FBFBFB;
  font-weight: 200;
  font-size: 3rem;
}
.article-hero p {
  color: #FBFBFB;
  margin-bottom: 70px;
  max-width: 80%;
}
.article-hero button {
  width: 55%;
}

.vertical-line {
  position: relative;
  top: 10vh;
  border: 0.5px solid #FBFBFB;
  width: 1px;
  height: 70vh;
}

.lettering-hero {
  align-self: flex-start;
  width: 45%;
  max-width: 7rem;
  margin: 100px 50px;
}

.identity-block {
  z-index: 10;
  margin-bottom: 3vw;
  overflow-x: visible;
}

.identity-block-description {
  position: relative;
  display: flex;
  padding: 4% 3%;
  margin-bottom: 2vw;
}

.identity-block-description_image {
  z-index: 10;
  margin-left: 5%;
  width: 45%;
}
.identity-block-description_image img {
  width: 100%;
}

.identity-block-description_content {
  position: absolute;
  top: -12%;
  right: 8%;
  z-index: 5;
  background: #103272;
  width: 45%;
  padding: 4% 6% 5% 7%;
}
.identity-block-description_content h2 {
  font-size: 4.5rem;
  margin-bottom: 30px;
  color: #FBFBFB;
}
.identity-block-description_content p {
  color: #FBFBFB;
  margin-bottom: 3vw;
}
.identity-block-description_content button {
  width: 40%;
}

.index-alert{
  background-color: #103272;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  padding-top: 0;
  font-family: "Oswald", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-family: "Roboto Condensed", serif;
}

.index-alert a{
  transition: color 0.2s;
}

.index-alert a:hover{
  color: #BB1F3B;
}


.gallery-index .item:nth-child(1) {
  background-image: url("../img/identity/index_gallery/1.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:nth-child(2) {
  background-image: url("../img/identity/index_gallery/2.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:nth-child(3) {
  background-image: url("../img/identity/index_gallery/3.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:nth-child(4) {
  background-image: url("../img/identity/index_gallery/4.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:nth-child(5) {
  background-image: url("../img/identity/index_gallery/5.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:nth-child(6) {
  background-image: url("../img/identity/index_gallery/6.jpg");
  background-size: cover;
  background-position: center;
}
.gallery-index .item:first-child {
  background-position: center top;
}
.gallery-index .item:last-child::after {
  background-color: black;
  opacity: 0.5;
}
.gallery-index .item:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", "Helvetica Neue", sans-serif;
  font-size: 4rem;
  text-align: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.testimonial-block {
  display: none !important;
  margin-bottom: 5vw;
}
.testimonial-block h1 {
  margin-left: 33%;
  margin-bottom: 2vw;
}
.testimonial-block h1 span {
  color: #32213A;
  font-weight: 400;
}
.testimonial-block div {
  display: flex;
}
.testimonial-block div figure {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.testimonial-block div figure .vertical-line {
  border: 0.5px solid #32213A;
  position: relative;
  height: 400px;
  margin: 0 2vw;
}
.testimonial-block div article {
  flex-grow: 2;
  width: 50%;
  background: #103272;
  padding: 2.5vw;
  display: flex;
}
.testimonial-block div article div {
  display: inline-block;
  width: 70%;
}
.testimonial-block div article div h2 {
  width: 20vw;
  margin-bottom: 2vw;
}
.testimonial-block div article div div {
  width: 100%;
  position: relative;
}
.testimonial-block div article div div p {
  display: inline-block;
  color: #FBFBFB;
  position: absolute;
}
.testimonial-block div article div div p#big-quote {
  top: -0.5vw;
  padding: 0.5vw;
  font-size: 3vw;
}
.testimonial-block div article div div p:last-child {
  left: 3vw;
  width: 80%;
}
.testimonial-block div article aside {
  margin-left: 5%;
  padding: 4% 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #FBFBFB;
}

.info-block {
  position: relative;
  z-index: 1;
  margin: 10rem 0;
  display: flex;
  overflow: visible;
}

.info-block-image {
  flex: 2 1 40%;
  padding-right: 5%;
}
.info-block-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info-block-content {
  flex: 1 50%;
  padding: 2% 10% 5% 1%;
}
.info-block-content h1 {
  width: 100%;
  margin-bottom: 2.5vw;
}
.info-block-content p {
  width: 80%;
  margin-bottom: 3.5vw;
}
.info-block-content button {
  border: 2px solid #103272;
  color: #103272;
  width: 15vw;
  transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1);
}

.info-block-content button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #103272;
}

.sensei-block {
  padding: 3vw 8vw;
  position: relative;
  z-index: 0;
  overflow-y: hidden;
  background: url("../img/backgrounds/big_kendo_kanji.svg") center/25% no-repeat, black;
}

.article-sensei-block-description {
  margin-left: 6rem;
  margin-bottom: 3rem;
}
.article-sensei-block-description h1 {
  margin-bottom: 2vw;
  color: #FBFBFB;
}
.article-sensei-block-description h1 span {
  color: #103272;
}

.sensei-block-biography {
  display: flex;
  justify-content: space-around;
  overflow-y: visible;
}
.sensei-block-biography a {
  color:#BB1F3B;
  text-decoration: underline;
}

.biography-container {
  position: relative;
  background: linear-gradient(180deg, #103272 15%, rgba(187, 31, 59, 0) 100%);
  width: 44%;
  margin-left: 6rem;
  margin-bottom: 4rem;
}
.biography-container h2 {
  position: relative;
  z-index: 5;
  color: #FBFBFB;
}
.biography-container p {
  position: relative;
  z-index: 5;
  margin-bottom: 2vw;
  color: #FBFBFB;
}

.biography-image {
  position: relative;
  z-index: 1;
  width: 100%;
}
.biography-image img {
  width: 100%;
  max-height: 35rem;
  position: relative;
  object-fit: cover;
  object-position: top center;
}

.biography-sensei-chris {
  flex: 2 20%;
  left: -3.5%;
  margin-bottom: 10rem;
  padding: 1vw 3vw;
}
.biography-sensei-chris h2 {
  margin-bottom: 2vw;
}
.biography-sensei-chris figure {
  margin-bottom: 10rem;
}

.biography-sensei-song {
  right: 1%;
  top: 6vw;
  padding: 2vw 3vw;
  width: 55%;
  flex: 1 0 35%;
}
.biography-sensei-song h2 {
  margin-bottom: 2vw;
}

.final-cta-block {
  background: url("../img/backgrounds/kendo-family.jpg") no-repeat center;
  background-size: cover;
}

.horizontal-line {
  height: 1px;
  width: 60%;
  border: 0.5px solid #FBFBFB;
}

.lettering-final-cta-block {
  max-width: 30%;
  margin: 6vw;
}

.article-final-cta-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.article-final-cta-block h1 {
  color: #FBFBFB;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
}
.article-final-cta-block button {
  width: 13%;
  margin-bottom: 16vw;
}

@media only screen and (max-width: 1500px), (max-height: 760px) {
  .article-hero {
    margin-right: 8vw;
  }

  .gallery-index .grid {
    grid-auto-rows: 10rem;
    grid-template-rows: unset;
  }

  .identity-block-description {
    flex-wrap: wrap;
    margin-bottom: 2px;
    padding: 0;
  }

  .identity-block-description_content {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
    flex: 1 30rem;
    order: 1;
    background-image: url(../../img/main/kendo_kanji_transparent.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }
  .identity-block-description_content p {
    margin-bottom: 8rem;
  }
  .identity-block-description_content button {
    margin-bottom: 2rem;
    width: 50%;
  }

  .identity-block-description_image {
    flex: 1 50%;
    order: 2;
    margin-left: 0;
    width: 100%;
  }
  .identity-block-description_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info-block {
    padding-bottom: 4rem;
  }

  .info-block-content h1 {
    font-size: 4rem;
  }
  .info-block-content p {
    margin-right: 0;
  }

  .index-header{
    color:#103272;
  }

  .biography-container, .article-sensei-block-description {
    margin-bottom: 4rem;
  }
  .biography-container h1, .article-sensei-block-description h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
  }
  .biography-container p, .article-sensei-block-description p {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 1080px) {
  .hero-block {
    background-position: 90% center;
    min-height: 50rem;
    max-height: 900px;
  }

  .article-hero {
    max-width: 60%;
    margin-top: 4rem;
    margin-left: 4vw;
  }

  .vertical-line, .lettering-hero {
    display: none;
  }

  .testimonial-block {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  .testimonial-block h1 {
    padding: 0 4vw;
    margin: 0;
    text-align: center;
  }
  .testimonial-block div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .testimonial-block div figure {
    justify-content: center;
    margin: 4vw 0;
  }
  .testimonial-block div figure .vertical-line {
    display: none;
  }
  .testimonial-block div article {
    width: 100vw;
    flex-direction: column;
  }
  .testimonial-block div article div {
    display: flex;
    justify-content: center;
    width: auto;
  }
  .testimonial-block div article div h2 {
    width: 100%;
    text-align: center;
  }
  .testimonial-block div article div div p {
    position: relative;
    display: block;
    text-align: center;
  }
  .testimonial-block div article div div p#big-quote {
    font-size: 6rem;
    height: 4rem;
  }
  .testimonial-block div article aside {
    margin: 0;
    flex-direction: row;
    justify-content: center;
  }
  .testimonial-block div article aside div {
    margin: 0 20%;
  }
  .testimonial-block div article aside svg {
    transform: rotate(270deg);
  }

  .sensei-block {
    padding: 1vw 6vw;
    padding-top: 3rem;
    margin-bottom: 0;
    background: black;
  }

  .article-sensei-block-description {
    margin-left: 0;
    padding: 0;
  }

  .sensei-block-biography {
    flex-direction: column;
  }

  .biography-container {
    background: none;
    padding: 0;
    margin: 0;
    position: static;
    display: flex;
    width: 100%;
  }
  .biography-container div {
    margin-bottom: 6rem;
    flex: 1 2 30%;
  }
  .biography-container h1 {
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .biography-container p {
    margin-bottom: 5rem;
  }
  .biography-container button {
    width: 50%;
  }

  .biography-image {
    margin-left: 10%;
    flex: 2 1 20%;
  }

  .biography-sensei-chris {
    width: 100%;
    margin-bottom: 4rem;
  }
  .biography-sensei-chris h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .biography-sensei-chris figure {
    margin-bottom: 0;
  }

  .biography-sensei-song {
    margin-bottom: 4rem;
    width: 100%;
  }
  .biography-sensei-song h2 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .info-block {
    margin: 6rem 0;
    margin-bottom: 2rem;
    padding: 1vw 8vw;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .info-block-image {
    flex-basis: 100%;
    width: 100vw;
    margin-bottom: 2rem;
    padding: 0;
  }
  .info-block-image img {
    width: 100%;
    object-fit: contain;
  }

  .info-block-content h1 {
    margin-bottom: 8vw;
  }
  .info-block-content p {
    width: 100%;
    margin: 0;
    margin-bottom: 5rem;
  }
  .info-block-content button {
    width: 50%;
  }

  .article-final-cta-block button {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) {
  .home h1 {
    line-height: 120%;
  }

  .article-hero {
    margin-top: 4rem;
    padding-left: 2vw;
    white-space: initial;
  }
  .article-hero h1 {
    margin-bottom: 15vw;
  }
  .article-hero p {
    margin-bottom: 8vw;
  }

  .identity-block-description {
    margin-bottom: 0;
  }

  .identity-block-description_content p {
    margin-bottom: 3.5rem;
  }
  .identity-block-description_content button {
    margin-bottom: 1rem;
    width: 40%;
  }

  .final-cta-block {
    background: no-repeat center top/cover url("../img/backgrounds/kendo-family.jpg");
  }

  .article-final-cta-block h1 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  }
  .article-final-cta-block img {
    margin: 8rem 2rem;
  }
  .article-final-cta-block button {
    margin-bottom: 12rem;
    width: 40%;
  }
}
@media only screen and (max-width: 620px) {
  .article-hero {
    margin-top: 8rem;
  }
  .article-hero p {
    max-width: 80%;
  }

  .sensei-block {
    padding-bottom: 0;
  }

  .biography-container {
    display: initial;
  }

  .biography-image {
    margin: 0;
    width: 100vw;
    position: relative;
    left: -6vw;
  }
  .biography-image img {
    width: 100%;
    object-fit: cover;
    object-position: center top;
  }

  .biography-sensei-song {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 524px) {
  .home h1 {
    font-size: 3.5rem;
  }

  .hero-block {
    background-position: 73% center;
    max-height: 700px;
    display: flex;
  }

  .sensei-block {
    margin-bottom: -2px;
    padding-bottom: 0;
  }

  .article-hero {
    margin: auto 0 auto 5rem;
    padding: 0;
  }

  .identity-block-description_content {
    background-image: none;
  }
}
.video-block h1 {
  font-size: 2.35rem;
}
.video-block iframe {
  margin-top: 2rem;
  position: relative;
  left: -10vw;
  width: 100vw;
}

.content-block\:kendo {
  margin-top: 8rem;
}
.content-block\:kendo h2 {
  color: #103272;
  font-size: 2.35rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 800px) {
  .content-block\:kendo figure img {
    object-position: center 10%;
  }

  .video-block iframe {
    margin-left: 50vw;
    transform: translateX(-50%);
    width: 60%;
  }
}
@media only screen and (min-width: 1460px) {
  .content-block\:kendo h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 10rem;
  }

  /* Fix iframe aspect ratio
      While this doesn't fix it entirely,
      the idea is to scale it to something reasonable
  */
  .video-block iframe {
    height: 30vw;
  }
}

.gallery .item:nth-child(1) {
  background: url("../img/identity/gallery/1.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(2) {
  background: url("../img/identity/gallery/2.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(3) {
  background: url("../img/identity/gallery/3.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(4) {
  background: url("../img/identity/gallery/4.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(5) {
  background: url("../img/identity/gallery/5.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(6) {
  background: url("../img/identity/gallery/6.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(7) {
  background: url("../img/identity/gallery/7.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(8) {
  background: url("../img/identity/gallery/8.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(9) {
  background: url("../img/identity/gallery/9.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(10) {
  background: url("../img/identity/gallery/10.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(11) {
  background: url("../img/identity/gallery/11.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(12) {
  background: url("../img/identity/gallery/12.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(13) {
  background: url("../img/identity/gallery/13.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(14) {
  background: url("../img/identity/gallery/14.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(15) {
  background: url("../img/identity/gallery/15.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(16) {
  background: url("../img/identity/gallery/16.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(17) {
  background: url("../img/identity/gallery/17.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(18) {
  background: url("../img/identity/gallery/18.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(19) {
  background: url("../img/identity/gallery/19.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(20) {
  background: url("../img/identity/gallery/20.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(21) {
  background: url("../img/identity/gallery/21.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(22) {
  background: url("../img/identity/gallery/22.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(23) {
  background: url("../img/identity/gallery/23.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(24) {
  background: url("../img/identity/gallery/24.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(25) {
  background: url("../img/identity/gallery/25.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(26) {
  background: url("../img/identity/gallery/26.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(27) {
  background: url("../img/identity/gallery/27.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(28) {
  background: url("../img/identity/gallery/28.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(29) {
  background: url("../img/identity/gallery/29.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(30) {
  background: url("../img/identity/gallery/30.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(31) {
  background: url("../img/identity/gallery/31.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(32) {
  background: url("../img/identity/gallery/32.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(33) {
  background: url("../img/identity/gallery/33.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(34) {
  background: url("../img/identity/gallery/34.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(35) {
  background: url("../img/identity/gallery/35.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(36) {
  background: url("../img/identity/gallery/36.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(37) {
  background: url("../img/identity/gallery/37.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(38) {
  background: url("../img/identity/gallery/38.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(39) {
  background: url("../img/identity/gallery/39.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(40) {
  background: url("../img/identity/gallery/40.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(41) {
  background: url("../img/identity/gallery/41.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(42) {
  background: url("../img/identity/gallery/42.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(43) {
  background: url("../img/identity/gallery/43.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(44) {
  background: url("../img/identity/gallery/44.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(45) {
  background: url("../img/identity/gallery/45.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(46) {
  background: url("../img/identity/gallery/46.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(47) {
  background: url("../img/identity/gallery/47.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(48) {
  background: url("../img/identity/gallery/48.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(49) {
  background: url("../img/identity/gallery/49.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(50) {
  background: url("../img/identity/gallery/50.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(51) {
  background: url("../img/identity/gallery/51.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(52) {
  background: url("../img/identity/gallery/52.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(53) {
  background: url("../img/identity/gallery/53.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(54) {
  background: url("../img/identity/gallery/54.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(55) {
  background: url("../img/identity/gallery/55.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(56) {
  background: url("../img/identity/gallery/56.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(57) {
  background: url("../img/identity/gallery/57.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(58) {
  background: url("../img/identity/gallery/58.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(59) {
  background: url("../img/identity/gallery/59.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(60) {
  background: url("../img/identity/gallery/60.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(61) {
  background: url("../img/identity/gallery/61.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(62) {
  background: url("../img/identity/gallery/62.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(63) {
  background: url("../img/identity/gallery/63.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(64) {
  background: url("../img/identity/gallery/64.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(65) {
  background: url("../img/identity/gallery/65.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(66) {
  background: url("../img/identity/gallery/66.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(67) {
  background: url("../img/identity/gallery/67.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(68) {
  background: url("../img/identity/gallery/68.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(69) {
  background: url("../img/identity/gallery/69.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(70) {
  background: url("../img/identity/gallery/70.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(71) {
  background: url("../img/identity/gallery/71.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(72) {
  background: url("../img/identity/gallery/72.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(73) {
  background: url("../img/identity/gallery/73.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(74) {
  background: url("../img/identity/gallery/74.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(75) {
  background: url("../img/identity/gallery/75.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(76) {
  background: url("../img/identity/gallery/76.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(77) {
  background: url("../img/identity/gallery/77.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(78) {
  background: url("../img/identity/gallery/78.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(79) {
  background: url("../img/identity/gallery/79.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(80) {
  background: url("../img/identity/gallery/80.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(81) {
  background: url("../img/identity/gallery/81.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(82) {
  background: url("../img/identity/gallery/82.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(83) {
  background: url("../img/identity/gallery/83.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(84) {
  background: url("../img/identity/gallery/84.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(85) {
  background: url("../img/identity/gallery/85.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(86) {
  background: url("../img/identity/gallery/86.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(87) {
  background: url("../img/identity/gallery/87.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(88) {
  background: url("../img/identity/gallery/88.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(89) {
  background: url("../img/identity/gallery/89.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(90) {
  background: url("../img/identity/gallery/90.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(91) {
  background: url("../img/identity/gallery/91.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(92) {
  background: url("../img/identity/gallery/92.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(93) {
  background: url("../img/identity/gallery/93.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(94) {
  background: url("../img/identity/gallery/94.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(95) {
  background: url("../img/identity/gallery/95.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(96) {
  background: url("../img/identity/gallery/96.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(97) {
  background: url("../img/identity/gallery/97.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(98) {
  background: url("../img/identity/gallery/98.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(99) {
  background: url("../img/identity/gallery/99.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(100) {
  background: url("../img/identity/gallery/100.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(101) {
  background: url("../img/identity/gallery/101.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(102) {
  background: url("../img/identity/gallery/102.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(103) {
  background: url("../img/identity/gallery/103.jpg");
  background-size: cover;
  background-position: center top;
}
.gallery .item:nth-child(104) {
  background: url("../img/identity/gallery/104.jpg");
  background-size: cover;
  background-position: center top;
}

@media only screen and (min-width: 1460px) {
  .content-block\:gallery h1 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 10rem;
  }
}

.content-block\:gallery {
  margin-top: 8vw;
}

.chris-block {
  margin-top: 8rem;
}

@media only screen and (min-width: 800px) {
  .page-section.page-section\:sensei figure {
    left: unset;
    width: 60%;
    height: 60vh;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .chris-block figure img {
    object-position: center top;
  }

  .song-block figure img {
    object-position: center 15%;
  }

  .masaki-block figure img {
    object-position: center 15%;
  }

  .apinya-block figure img {
    object-position: center top;
  }

  .theo-block figure img {
    object-position: center top;
  }

  .masa-block figure img {
    object-position: center 50%;
  }

  .aaron-block figure img {
    object-position: center 15%;
  }

  .okuji-block figure img {
    object-position: center top;
  }

  .image-shadow{
      box-shadow: rgba(16, 50, 114, 0.28) 0px 0px 40px;
  }

}
@media only screen and (min-width: 1460px) {
  .page-section.page-section\:sensei article {
    display: flex;
  }
  .page-section.page-section\:sensei article figure {
    order: 2;
    flex: 2 1 20%;
    margin: 4vw;
    transform: translateX(0);
  }
  .page-section.page-section\:sensei article div {
    order: 1;
    flex: 1 1 50%;
  }

  .chris-block {
    margin-top: 5vw;
  }
  .chris-block h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 10rem;
  }
}
.anchor {
  position: relative;
  top: -120px;
  visibility: hidden;
}

.contact-block {
  margin-top: 8rem;
}
.contact-block article {
  margin-bottom: 2rem;
}
.contact-block article h2 {
  font-size: 2.35rem;
  margin-bottom: 0.6666666667rem;
}
.contact-block article a {
  font-family: "Roboto Condensed", serif;
}
.contact-block article address {
  margin-bottom: 2rem;
}
.contact-block iframe {
  position: relative;
  left: -10vw;
  width: 100vw;
}

@media only screen and (min-width: 1460px) {
  .featured-article {
    order: 1;
    flex: 2 1 20%;
    margin: 4vw;
    transform: translateX(0);
    left: -5vw;
    width: 30%;
  }
  h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 10rem;
  }

}

.page-section.page-section\:newsletter{
  margin-top: 8vw;
}

.page-section.page-section\:newsletter figure {
  position: relative;
  width: 25vw;
  left: -1vw;
  margin-bottom: 3.5rem;
}

.news-image {
  box-shadow: rgba(16, 50, 114, 0.28) 0px 0px 40px;
}

.page-section.page-section\:newsletter a {
  color: #103272;
  text-decoration: underline;
  transition: color 0.2s;
}

.page-section.page-section\:newsletter a:hover {
  color: #BB1F3B;
}

.kendotable {
  margin: auto;
  font-family: "Roboto Condensed", serif;
  font-size: 1.125rem;
  font-weight: 200;
  margin-bottom: 60px;
}

@media only screen and (min-width: 500px) {
  .kendotable{
    margin-bottom: 40px;
  }
}

.kendocalendar {
  display: table;
  margin: auto;
  font-family: "Roboto Condensed", serif;
  font-size: 1.125rem;
  font-weight: 200;
  margin-bottom: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 350px;
}

.kendocalendar-header{
  background-color: #103272;
  color:white;
}

.kendocalendar-style {
  border-collapse: collapse;
  margin-bottom: 25px;
  font-size: 0.9em;
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .kendocalendar{
    margin-bottom: 40px;
  }
}

.kendotable-border{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  min-width: 350px;
}

.kendotable-header {
  background-color: #103272;
  text-align: center;
  padding: 25px 20px 1px 20px;
}

.styled-table {
  border-collapse: collapse;
  margin-bottom: 25px;
  font-size: 0.9em;
  width: 100%;
}

.styled-table td {
  box-sizing: border-box;
  padding: 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 65px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #F1F5FD;
  font-weight: bold;
  color: #103272;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #103272;
}

.text-right-justify {
	text-align: right;
  line-height: 25px;
}

.table-header{
	margin: auto;
  color: white;
  padding: 12px 15px;
  margin-bottom: 0;
  font-size: 2.3rem;
}

.important-date-alert-row{
  text-align: center;
  color:#103272;
}

.schedule-block h2 {
  font-size: 2.35rem;
  margin-bottom: 2rem;
}
.schedule-block ul {
  margin-bottom: 2rem;
  list-style-type: none;
}
.schedule-block ul li {
  font-family: "Roboto Condensed", serif;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1460px) {
  .contact-block {
    margin-top: 3vw;
    margin-bottom: 3rem;
  }
  .contact-block h1 {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 10rem;
  }
  .contact-block .container {
    display: flex;
  }
  .contact-block .container .content {
    flex: 1 1 30%;
  }
  .contact-block .container iframe {
    margin-left: -10vw;
    left: 10vw;
    flex: 3 1 100%;
    height: 60vh;
  }
}

#pdf-link {
  text-decoration: underline;
  color: #103272;
}

.aboout-block img {
  object-position: left 40%;
}

.languages {
  display: flex;
  justify-content: center;
}
.languages button {
  color: #103272;
  border: 2px solid #103272;
  margin: 2rem 0;
  margin-right: 1.8rem;
  width: 20vw;
  transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1);
}

.languages button:hover {
  background-color: #F1F5FD;;
}

.languages button.active {
  color: #FBFBFB;
  background-color: #103272;
}
.languages button:lang(ko-KR) {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.4rem;
}
.languages button:lang(ja-JP) {
  font-family: "Sawarabi Mincho", sans-serif;
  font-size: 1.2rem;
}

.headers .hide {
  height: 0;
  overflow: hidden;
}

.sensei-message .hide {
  height: 0;
  overflow: hidden;
}
.sensei-message #pdf-link {
  transition: color, background-color, 0.4s cubic-bezier(1, 0, 0, 1);
}
.sensei-message #pdf-link:hover {
  color: #BB1F3B;
}
.sensei-message div:lang(ko-KR) h2, .sensei-message div:lang(ko-KR) p {
  font-family: "Gothic A1", sans-serif;
}
.sensei-message div:lang(ja-JP) h2, .sensei-message div:lang(ja-JP) p {
  font-family: "Swarabi Mincho", sans-serif;
}

.signature {
  font-family: "Oswald", sans-serif;
}

.about-block {
  margin-top: 8rem;
}

@media only screen and (min-width: 800px) {
  .about-block figure {
    height: 60vh;
  }
}
@media only screen and (min-width: 1460px) {
  .about-block {
    margin-top: 4vw;
  }
  .about-block h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 10rem;
  }

  .words-block figure img {
    padding: 0 25vw;
    object-position: center 15%;
  }
}
.image_height\:50\% {
  height: 50vh;
}

@media only screen and (min-width: 800px) {
  .md-image_height\:50 {
    height: 50vh;
  }
}

/*# sourceMappingURL=style.css.map */
