---
layout: page.njk
title: Contact
---
<section class="page-section contact-block">
    <h1>Come Meet Us</h1>
    <div class="container">
        <div class="content">
            <article>
                <h2>Contact</h2>
                <a class="email-link" href="mailto:planokendodojo@gmail.com">planokendodojo@gmail.com</a>
            </article>
            <article id="location">
                <h2>Location</h2>
                <address>
                    <span>Plano Kendo Dojo</span> <br>
                    Tom Muehlenbeck Recreation Center <br>
                    5801 W Parker Rd. Plano, TX 75093 <br>
                    Head Instructor: C, Yang
                </address>
            </article>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.3649710436757!2d-96.8224996844387!3d33.04685698089139!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c236973e55d29%3A0x7555c910de257886!2sTom+Muehlenbeck+Center!5e0!3m2!1sen!2sus!4v1559093159413!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<section class="page-section schedule-block">
    <div id="hours">
        <h2>Date & Times</h2>
        <p>We are able to offer separate Basic and Advanced classes for both Youth and Adults!!</p>
        <ul><li>Visit the <a class="hours" href="https://anc.apm.activecommunities.com/planoparksandrec/activity/search?onlineSiteId=0&activity_select_param=2&activity_keyword=kendo&viewMode=list">Plano Parks and Recreation website</a> for practice times this season</li></ul>
    </div>
    
    <p><strong><span style="color:#BB1F3B; font-weight: 600;">IMPORTANT: </span>The Tom Muehlenbeck Center will be closed for renovation starting from January 2025. We will temporarily be moving to the following locations and will return once it's reopened this fall. </strong></p>
    <p><strong style="color:#103272; font-weight: 600;"><a class="hours" href="https://maps.app.goo.gl/QyhmVRegJM4jsxhT7" target="_blank">Liberty Rec Center</a></strong><br>
    2601 Glencliff Dr, Plano, TX 75075</p>
    <div class="kendotable">
        <div class="kendotable-border">
          <div class="kendotable-header">
            <h2><span class="table-header">WINTER SEMESTER 2025</span></h2>
          </div>
          <table class="styled-table">
              <tbody>
                  <tr>
                        <td>Kendo Basics - Age 5-25 - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">January 6 - March 10, 2025 <br> Mon 7:30 PM - 9:30 PM</td>
                  </tr>
                  <tr>
                        <td>Kendo Basics - Ages 5-25 &#40;Liberty&#41;</td>
                        <td class="text-right-justify">January 17 - March 14, 2025 <br> Fri 6:30 PM - 7:30 PM</td>
                  </tr>
                  <!--
                  <tr>
                        <td>Kendo Basics - Ages 25+ &#40;Liberty&#41;</td>
                        <td class="text-right-justify">January 10 - March 14, 2025 <br> Fri 7:30 PM - 8:30 PM</td>
                  </tr>
                  
                  <tr>
                        <td>Kendo Advanced - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">January 6 - March 10, 2025 <br> Fri 7:30 PM - 8:30 PM</td>
                  </tr>-->
                    <tr>
                        <td>Kendo Basics - All Ages &#40;Liberty&#41; <br><strong>NOTE: </strong>Age 5-25 must be in Full Bogu</td>
                        <td class="text-right-justify">January 17 - March 14, 2025 <br> Fri 7:30 PM - 8:30 PM</td>
                    </tr>
                  <tr>
                        <td>Kendo Advanced - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">January 11 - March 15, 2025 <br> Sat 3:30 PM - 5:30 PM</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="important-date-alert-row"><h2 style="margin-bottom: 0;">IMPORTANT DATES</h2></td>
                 </tr>
                 
                 <tr>
                    <td><span style="text-decoration: underline;">CLASS CANCELED</span></td>
                    <td class="text-right-justify">
                        Fri, January 10, 2024
                    </td>
                 </tr>
                 
                 <tr>
                    <td><span style="text-decoration: underline;">NO CLASS &#40;Break Week&#41;</span></td>
                    <td class="text-right-justify">
                        Fri, January 24, 2024
                        <br>
                        Sat, January 25, 2024
                        <br>
                        Mon, January 27, 2024
                    </td>
                </tr>
                <tr>
                    <td><span style="text-decoration: underline;">Make Up Class &#40;Liberty&#41;</span></td>
                    <td class="text-right-justify"> Fri, March 21, 2024 <br> Fri 7:30 PM - 8:30 PM</td>
                 </tr>
              </tbody>
          </table>
        </div>
    </div>

    <div class="kendotable">
        <div class="kendotable-border">
          <div class="kendotable-header">
            <h2><span class="table-header">SPRING SEMESTER 2025</span></h2>
          </div>
          <table class="styled-table">
              <tbody>
                <tr>
                        <td>Kendo Basics - Age 5-25 - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">March 24 - May 12, 2025 <br> Mon 7:30 PM - 9:30 PM</td>
                </tr>
                <tr>
                        <td>Kendo Basics - Ages 5-25 &#40;Liberty&#41;</td>
                        <td class="text-right-justify">March 28 - May 16, 2025 <br> Fri 6:30 PM - 7:30 PM</td>
                </tr>
                
                <tr>
                        <td>Kendo Basics - All Ages &#40;Liberty&#41;<br><strong>NOTE: </strong>Age 5-25 must be in Full Bogu</td>
                        <td class="text-right-justify">March 28 - May 16, 2025 <br> Fri 7:30 PM - 8:30 PM</td>
                </tr>
                <!--<tr>
                        <td>Kendo Advanced - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">March 28 - May 16, 2025 <br> Fri 7:30 PM - 8:30 PM</td>
                </tr>-->
                <tr>
                        <td>Kendo Advanced - Bogu Members Only &#40;Liberty&#41;</td>
                        <td class="text-right-justify">March 29 - May 17, 2025 <br> Sat 3:30 PM - 5:30 PM</td>
                </tr>
              </tbody>
          </table>
        </div>
    </div>