---
layout: page.njk
title: Our Dojo
---
<section class="page-section about-block">
    <article>
        <h1>Our Dojo</h1>
        <figure><img src="/img/backgrounds/our-dojo.jpg" alt="Background of Kendo Equipment"></figure>
        <p>Plano Kendo Dojo offers Kendo instruction to kids and adults of all ages living in Plano and the North Dallas communities. Plano Kendo Dojo was the dream of Christopher Yang Sensei, who wanted to provide an opportunity and location for students to learn the beauty of the martial art of Kendo.</p>
        <p>“Kendo provides the perfect environment for kids to learn physical fitness, mental discipline and confidence, while at the same time making friends that will last a lifetime. For adults, Kendo provides an opportunity to achieve physical, mental and spiritual health that can then be applied to other aspects of life,” says Yang Sensei.</p>
        <p>Yang Sensei recently relocated to Texas from Torrance, California, where he was the Head Instructor of one of the leading Kendo Dojos in the United States. Yang Sensei has extensive experience teaching kids and adults of all ages, and has competed and coached at the national and international stage.</p>
        <p>Teaming up with Plano Parks & Recreation, Kendo will now be offered to all residents of Plano and North Dallas.</p>
    </article>
</section>

<section class="page-section words-block">
    <article>
        <div class="headers">
            <h1>Words from Sensei</h1>
            <h1 lang="ko-KR" class = "hide">드리는 말씀</h1>
            <h1 lang="ja-JP" class = "hide">プレイノ市、北ダラスの皆様へ</h1>
        </div>
        <figure><img src="/img/sensei/words-from-sensei.jpg" alt="Chris Yang and his brother, Daniel, smiling and standing in Kendo gear"></figure>
        <div class="languages">
            <button class="english active">English</button>
            <button lang="ko-KR" class="korean">한국어</button>
            <button lang="ja-JP" class="japanese">日本人</button>
        </div>
        <div class="sensei-message">
            <div>
                <h2>Thank you very much for visiting the website for Plano Kendo Dojo!</h2>
                <p>I started kendo in Torrance, California over 33 years ago at the young age of seven. From the first time I grasped a shinai (bamboo sword), I fell in love with Kendo, and I feel that much of who I am today is thanks to the life lessons I learned through Kendo. It was my dream to show the residents of Plano and North Dallas the beauty and excitement of Kendo, and that was the primary driver in my decision to start the Plano Kendo Dojo.</p>
                <p>Practicing the martial art of Kendo provides countless benefits in addition to physical health and fitness. Children who learn Kendo are able to learn self-confidence, patience and focus, and over time you will find that your children are able to speak clearly and loudly, look at the eyes of adults and elders when they greet or speak with them, and are able to incorporate proper manners and posture in their daily lives – lessons that kids today may not be able learn in other settings. </p>
                <p>Adults that learn kendo for the first time are able to set clear, achievable goals that give them purpose and meaning to their pursuit of Kendo, no matter they age when they started. In fact, I have had many adult students tell me that Kendo has “changed their outlook on life.”</p>
                <p>My goal is to provide an energetic, fun environment where kids and adults alike can enjoy Kendo, and at the same time find their own personal meaning of the “way of the sword.” I will try my best to teach and pass on the beauty of Kendo to as many people as possible, so please join me in our journey at the Plano Kendo Dojo. </p>
                <p><span class="signature">Plano Kendo Dojo - Christopher Yang</span></p>
            </div>
            <div lang="ko-KR" class="hide">
                <h2>저희 플래이노 검도 도장 웹싸이트를 방문해 주셔서 감사합니다!</h2>
                <p>저는 캘리포니아 토랜스에서 8살의 나이에 처음 검도를 시작하였고, 지금까지 33년간 수련해 왔습니다. 처음 죽도를 손에 쥐던 그 날 저는 검도에 푹 빠져버렸고, 현재의 제 모습은 검도를 통해 배울 수 있었던 인생의 교훈들로 채워져 있음을 다시 한번 되돌아 보게 됩니다. 이 곳 플레이노와 놀쓰 달라스 주민들께 검도의 바른 정신과 그 아름다움을 전해 드리고 싶던 꿈을 이루고자하며 이렇게 플레이노 검도 도장을 개관 합니다.</p>
                <p>검도를 수련하면 신체 단련 외 에도 셀 수 없을 만큼의 잇점들이 있습니다. 검도를 수련하는 아이들은 자존감을 고취하고, 인내심과 집중력을 키울 수 있으며, 수련을 더해감에 따라 정확하고 큰 목소리로 자신의 목소리를 내는 법을 배우게 됩니다. 또한 어른과 상급자와 마주하여 이야기 할때 눈을 쳐다보는 습관을 가질 수 있게 됩니다. 일상생활에서 곧고 바른 자세를 가지게 되며 예의와 예절을 익히게 됩니다. 또한 성인으로써 검도를 시작하면 수련을 시작한 나이와는 상관없이 본인의 검도 수련의 명확한 목표를 세우고 그에 따라 수련하게됩니다. 실제, 저에게 많은 성인 검도 수련자들이 검도를 수련함으로써 “인생을 바라보는 시점의 변화” 를 겪었다고 말합니다. </p>
                <p>저의 목표는 활기차고 재미있는 분위기로 성인과 아이들 모두 함께 검도를 즐길 수 있게 함이고, 동시에 각자 자신들의 “검의 길”의 의미를 찾게 함입니다. 검도수련을 통하여 느낄 수 있는 그 아름다움을 가능한 많은 분들께 가르쳐 드리는데 최선을 다하겠습니다, 저희 플레이노 검도 도장의 여정에 함께 하길 바랍니다. </p>
                <p><span class="signature">플레이노 검도 도장 – 크리스토퍼 양</span></p>
            </div>
            <div lang="ja-JP" class="hide">
                <h2>プレイノ剣道道場のウェブサイトを見ていただき、ありがとうございます。</h2>
                <p> 私は、７歳の時に故郷となるロサンゼルスで剣道を始め、３０年以上剣道修行を 続けています。初めて竹刀を握った日から剣道が大好きになり、今の私があるの は剣道のお陰と言っても過言ではありません。その剣道の楽しさ、素晴らしさ を、プレイノ市,北ダラスの皆様に伝えたいという強い気持ちから、道場を立ち上 げる決心をしました</p>
                <p>剣道という武道を通して、体力向上以外にも得られることがあります。子供達 は、集中力、気力、忍耐などを学ぶことができます。また、しっかり声を出す訓 練になったり、大人の目を見て挨拶や話すといった礼儀作法を身につける機会に なります。大人から剣道を始める方も、健康のためだけではなく、自分なりの目 標を立てその達成に向けて修行できる絶好の機会だと思います。</p>
                <p>明るく楽しい道場環境を作れば、剣士は剣道を好きになり、伸び伸びとした剣道 
                    ができ、人間としても成長できると思います。それを目標として指導する所存で 
                    す。一人でも多く剣士をこのテキサス州から育てるために全力で頑張りますの 
                    で、どうかよろしくお願いいたします。</p>
                    <p><span class="signature">プレイノ剣道道場　クリストファー・ヤング</span></p>
                    <p><a id="pdf-link" href="/doc/剣道JAPAN原稿.pdf" download="">剣道JAPAN雑誌が2018年春にクリストファー・ヤング先生を特集しました:</a></p>
                </div>
            </div>
        </article>
    </section>