---
layout: page.njk
title: Plano Kendo Dojo
---
<!-- Hero Header Block -->
<section class="page-section hero-block" id="home">
    <article class="article-hero">
        <h1><span>Learn&nbspKendo</span><br>
            The&nbspWay&nbspof <br>
            The&nbspSword
        </h1>
        <p>Taught by masters of the art, Plano&nbspKendo&nbspDojo reveals a path of physical and mental discipline through&nbspKendo</p>
        <button onclick="location.href='/register'" type="button">
            register now
        </button>
    </article>
</section>

<!-- Identity Block -->
<section class="page-section identity-block">
    <section class="identity-block-description">
        <figure class="identity-block-description_image"><img src="/img/identity/children_smile.jpg" alt="Children that are Kendo Students, Smiling"></figure>
        <article class="identity-block-description_content">
            <h2>Our Dojo</h2>
            <p>
                Plano Kendo Dojo offers Kendo instruction to kids and adults of all ages living in Plano and the North Dallas communities. Plano Kendo Dojo was the dream of Christopher Yang Sensei, who wanted to provide an opportunity and location for students to learn the beauty of the martial art of Kendo.
            </p>
            <button class="index-button" onclick="location.href='/dojo/'" type="button">find out more</button>
        </article>
    </section>
    <section class="section gallery-index">
        <!-- Grid -->
        <div class="grid">
            <figure class="item item--wide"></figure>
            <figure class="item item--wide"></figure>
            <figure class="item item--wide"></figure>
            <figure class="item item--wide"></figure>
            <figure class="item item--wide"></figure>
            <figure class="item item--wide">
                <a href="/gallery/">80+</a>
            </figure>
        </div>
    </section>
</section>

<!-- Testimonial Block -->
<section class="page-section testimonial-block">
    <h1>Stories From Our <span>Kenshi</span></h1>
    <div>
        <figure>
            <img src="/img/testimonials/mary_tran.jpg" alt="Picture of Mary Tran">
            <div class="vertical-line"></div>
        </figure>
        <article>
            <div>
                <h2>Mary Tran</h2>
                <div>
                    <p id="big-quote">“</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <aside>
                <svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.35156 14L14.439 2L26.5264 14" stroke="#FBFBFB" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
                <div>1<br>-<br>4</div>
                <svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.5264 2L14.439 14L2.35156 2" stroke="#FBFBFB" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square"/>
                </svg>
            </aside>
        </article>
    </div>
</section>

<!-- Kendo Info Block -->
<section class="page-section info-block">
    <figure class="info-block-image"><img src="/img/info/equipment.jpg" alt="Traditionally Prepared Kendo Equipment"></figure>
    <article class="info-block-content">
        <h1 class="index-header">Originating from Centuries of Tradition</h1>
        <p>Kendo is a martial art originating from ancient Japan’s Samurai. Evolving through the ages, Kendo focuses on the mind, body, and character. Now, it is practiced practically, competitively, and even in movies like Star Wars.</p>
        <button onclick="location.href='/kendo/'" type="button">find out more</button>
    </article>
</section>

<!-- Sensei Block -->
<section class="page-section sensei-block">
    <article class="article-sensei-block-description">
        <h1 class="title:display title-sensei-block">Our <span>Senseis</span></h1>
    </article>
    <section class="sensei-block-biography">
        <article class="biography-container biography-sensei-chris">
            <!-- <img id="chris-korean" src="img/sensei/chris_korean.svg" alt="Christopher Yang's Korean Name in Korean Text"> -->
            <div>
                <h2>Christopher Yang</h2>
                <p>With extensive experience in both competition and instruction, Yang Sensei is a 7th degree black belt teaching the beauty of Kendo to students of all ages. <a class="sensei-read-more-link" href="/sensei/#chris">Read more...</a></p>
            </div>
            <figure class="biography-image"><img src="/img/sensei/chris-2.jpg" alt="Picture of Christopher Yang"></figure>
        </article>
        <article class="biography-container biography-sensei-song">
            <!-- <img id="song-korean" src="img/sensei/song_korean.svg" alt="Song Yi Yang's Korean Name in Korean Text"> -->
            <div>
                <h2>Song Yi Yang</h2>
                <p>The former captain of the Korean National Kendo Team, Song Sensei was the first woman to receive a 7th degree black belt in the United States. Through her rigorous training and competitive experience, Song Sensei encourages both women and children of all ages to learn Kendo. <a class="sensei-read-more-link" href="/sensei/#song">Read more...</a></p>
            </div>
            <figure class="biography-image"><img src="/img/sensei/song.jpg" alt="Picture of Song Yi Yang"></figure>
        </article>
    </section>
</section>

<!-- Final CTA Block -->
<section class="page-section final-cta-block">
    <article class="article-final-cta-block">
        <h1 id="final-cta">Train With Us</h1>
        <div class="horizontal-line"></div>
        <img class="lettering-final-cta-block" src="/img/main/kendo_kanji.svg" alt="Kendo in Japanese Text">
        <button class="index-button" onclick="location.href='/register'" type="button">register now</button>

    </article>
</section>
