---
layout: page.njk
title: Kendo Info
---
<section class="page-section content-block:kendo">
    <article>
        <h1>The Way of the Sword</h1>
        <figure class="md-image_height:50"><img src="/img/info/kendo_training_session.jpg" alt="Kendo Training Session Picture Background"></figure>
        <h2>Kendo, or “The Way of the Sword,” is the traditional martial art of bamboo fencing</h2>
        <p>The origins of Kendo can be traced back to ancient Japan and the Samurai – and while the martial art has evolved throughout history to include elements of competition and physical training, Kendo has continued to emphasize the importance of molding the mind, body and human character through the “Way of the Sword.”</p>
        <p>Kendo practitioners dress in the traditional attire of the ancient samurai (kendo-gi (top) and hakama (bottom)), and use shinai (bamboo swords) to strike four specific areas on the opponent. The targets, each of which must be called out in a loud kiai (voice) as an accurate signal that the strike is made with strong spirit, are men (head), kote (wrist), dō (torso) and tsuki (thrust to the throat). Kendo is characterized by constant respect for one’s opponent, the honoring of culture and etiquette, and the importance of polishing one’s own heart through training.</p>
        <p>Kendo has grown enormously in recent years, and practiced today in over 50 countries by over 2 million people. There is a World Kendo Championships held every three years, and the United States has placed within the Top 3 in the World for the last 15 years.</p>
        <p>In the United States, thousands of enthusiasts practice kendo throughout the country. Many parents send their children to Kendo to learn respect, self-confidence, manners and discipline, in addition to physical fitness and health. Many kendo students have utilized the lessons and skills learned through kendo to succeed in school, obtain scholarships for universities and excel in their professional careers.</p>
    </article>
</section>

<section class="page-section video-block">
    <article>
        <h1>Kendo and the Way of the Sword has even influenced various aspects of modern culture.</h1>
        <p>In 2015, ESPN did a feature on the influence of Kendo on the famous Star Wars series.</p>
        <p>Yang Sensei and the U.S. National Kendo Team was featured prominently in this piece, and Yang Sensei appears at the end of the following introduction video.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N8i3rYDBrPI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
</section>