---
layout: page.njk
title: News and Events
---
<section class="page-section page-section:newsletter">
    <h1>News and Events</h1>
    <div class="container">
        <div class="news-event" id="end-of-year-party-12-15-2024">
            <figure class="news-article">
                <img class="news-image" src="/img/articles/potluck.jpg" alt="a variety of food on top of a table" style="float: left; margin-right: 15px;">
            </figure>
            <article>
                <div class="article-details">
                    <h3>Plano Kendo Dojo New Year Party - Lunch</h3>
                    <p>Dec 15, 2024</p>
                    <p> It's now time to celebrate our end of year party. It shall be potluck lunch at Tom Muehlenbeck Center, 11.30am-2pm, on Sun, Dec 15th. Please come in early to help setting up the party room. Friends and families are welcome to join. Please sign up for your party and the potluck list by Wed, Dec 11th.</p>
                    <p>We will distribute a New Year gift to everyone at the party. If there is a leftover, we will distribute it in class later. It's the first come first serve basis.</p>
                </div>
            </article>
         </div>
    </div>
</section>