---
layout: page.njk
title: Our Sensei
---
<section class="page-section page-section:sensei chris-block">
    <h1>Our Senseis</h1>
    <article>
        <figure><img class="image-shadow" src="/img/sensei/chris-2.jpg" alt="Chris Yang in Kendo Gear"></figure>
        <div>
            <h2 id="chris">Christopher Yang</h2>
            <p>Yang Sensei holds a 7th Degree Black Belt and has been practicing kendo for over 32 years. Yang Sensei has recently relocated to Plano from Los Angeles, California, where he was the Head Instructor of the Torrance Kendo Dojo, one of the largest and most recognized Kendo dojos in the United States. At Torrance Kendo Dojo, Yang Sensei taught hundreds of students from ages six to over sixty years old, and developed many students who went on to succeed on the regional, national and international stage. In fact, many of his students have become national champions, and five of the eight members of the U.S. National Men’s Kendo Team in 2015 were his students from Torrance Kendo Dojo.</p>
            <p>Yang Sensei started kendo at the age of seven at the Torrance Kendo Dojo, and has gone on to study and train at many of the top Kendo institutions around the world, including the University of Tsukuba and the Tokyo Metropolitan Police. Yang Sensei is currently a Director of the All United States Kendo Federation (AUSKF), and just completed a three-year term as the Vice President of Education for AUSKF, where he was responsible for organizing educational programs for kendo students throughout the United States.</p>
            <p>Until recently, Yang Sensei was also very active in competition, representing the U.S. National Kendo Team in the World Kendo Championships from 1997 through 2015, and as Captain from 2006-2015. During this time, he led the United States Team to Silver Medal finishes twice (2006, 2009) and the Bronze Medal three times (2003, 2012, 2015), and placed individually in the Top 8 of the World Kendo Championships in 2000 and 2003. Yang Sensei is also a former U.S. National Kendo Champion (2005).</p>
            <p>Yang Sensei believes that Kendo teaches students the mental focus and inner discipline needed to succeed not only in Kendo, but in life as well. He is a strong believer of balancing Kendo with school or work obligations, and encourages his students to succeed in the classroom as well as the Dojo. Yang Sensei holds a B.A. from the University of California, Berkeley, and a Juris Doctor from Georgetown University Law Center, and is currently the Chief International Counsel at Toyota Motor North America.</p>
        </div>
    </article>
</section>
<section class="page-section page-section:sensei song-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/song.jpg" alt="Song Yi Yang in Kendo Gear"></figure>
        <div>
            <h2 id="song">Song Yi Yang</h2>
            <p>Song Sensei holds a 7th Degree Black Belt and is currently the highest ranking woman kendo practitioner in the United States. Song Sensei has been practicing Kendo for over 30 years, and started practicing Kendo in her native country of Korea.</p>
            <p>Song Sensei trained under one of the most famous kendo teachers in Korea, Chun Young Sul sensei. As a college student, Song Sensei represented Korea at the 11th World Kendo Championships (2000), and went on to Captain the Korean National Team at the 13th World Kendo Championships (2006), where Korea won the Silver Medal in the Team Championships. After moving to the United States, Song Sensei coached the United States Women’s National Team in 2009 and 2012, and was the United States National Women’s Kendo Champion in 2008. Song Sensei graduated from Ewha Womens University in Seoul, Korea, with a degree in Sports Science.</p>
            <p>Song Sensei is the proud mother of a 6-year old son, and has taught her son Kendo as well. In 2016, Song Sensei was the first woman to pass the 7th Degree Black Belt Kendo examination, making her the highest ranking woman Kendo Sensei in the United States today. She strongly encourages both women and children of all ages to learn kendo, and hopes to teach as many students as she can at the Plano Kendo Dojo.</p>
        </div>
    </article>
</section>
<section class="page-section page-section:sensei masaki-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/yoshioka.jpg" alt="Masaki Yoshioka in Kendo Gear"></figure>
        <div>
            <h2 id="masaki">Masaki Yoshioka</h2>
            <p>Yoshioka sensei began practicing kendo at the age of six and is currently holding the rank of 6th dan. He moved from Japan and joined the Plano Kendo Dojo in September 2024. He received Bachelor's, Master's, and Doctoral degrees from the University of Tsukuba in Japan, specializing in sports medicine.</p>
            <p>At the University of Tsukuba Kendo Club, Yoshioka sensei served as a personal assistant to Yang sensei, and always hoped to study in US one day. When Muramatsu sensei came to the University of Tsukuba as an exchange student, Yoshioka sensei was in the first year of the Master's program, and they trained together frequently. Thanks to the support of Yang sensei and Muramatsu sensei, Yoshioka sensei could start his new life in Plano and pursued his journey in US.</p>
            <p>The connections Yoshioka sensei have made through Kendo are his greatest asset. He is looking forward to making new kendo friends at the Plano Kendo Dojo and improving his kendo skills together.</p>
        </div>
    </article>
</section>
<section class="page-section page-section:sensei apinya-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/apinya-2.jpg" alt="Apinya Premprajak practicing Kendo"></figure>
        <div>
            <h2 id="apinya">Apinya Premprajak</h2>
            <p>Apinya Sensei holds a 4th Degree Black Belt and has been practicing Kendo for over 20 years. Starting Kendo in her native country of Thailand during a colleague time, she found a passion in Kendo and continued practicing even when she moved to the United States. She used to present Thailand National Team in the Southeast Asian Cup (ASIAN CUP) and the World Championship. Moving to North Dallas in 2003, she has been practicing and teaching Kendo locally, joining Southwest Kendo Federation, growing the regional woman Kendo to the first medal event at the North American Women’s Kendo Tournament in Seattle.</p>
            <p>As a local long-term member, Apinya Sensei is a proud mother of a daughter and a son. She is training herself to become a kendo instructor surely to teach her kids. One of her dream is to teach kids and children and show them this wonderful path she decided to make in her life. She has strong passion with young kids and loves teaching beginners, hoping that people at all ages will start Kendo and go through this journey together.</p>
        </div>
    </article>
</section>
<section class="page-section page-section:sensei theo-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/theo.jpg" alt="Theo Kouadri in Kendo Gear"></figure>
        <div>
            <h2 id="theo">Theo Kouadri</h2>
            <p>Kouadri sensei holds a 4th degree Black belt and has been practicing Kendo for over 18 years. Growing up in the South of France, he has been practicing various martial arts and skateboarding. As far as he could remember, Theo Sensei has always been fascinated by martial arts and pursued the path of becoming a master of the art. After moving to the United States in early 2000, he discovered Kendo, a Budo martial art which he instantly related to.</p>
            <p>Since then, Theo Sensei has been looking forward to meeting and practicing with fellow kenshi around the world. He has had the opportunity to practice Kendo across the United States, Japan, Abu Dhabi, Dubai and France. His ultimate goal is to share the beauty and spirit of Kendo.</p>
            <p>Theo Sensei holds a M.S. in Computer Science with expertise in Cyber Security. He is currently a senior Cyber Security Leader in the industry and working in the tech and financial sectors.</p>
        </div>
    </article>
</section>
<section class="page-section page-section:sensei masa-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/masa.jpg" alt="Masahiro Muramatsu in Kendo Gear"></figure>
        <div>
            <h2 id="masa">Masahiro Muramatsu</h2>
            <p>Muramatsu sensei holds a 4th degree Black Belt in Kendo. He moved from Philadelphia, Pennsylvania and joined the Plano Kendo Dojo in January 2021.</p>
            <p>He started Kendo at the age of 12 in the Philadelphia area, and went on to become the Coach of the Penn State Kendo club during his time in University. In his Junior year, with the support of Yang Sensei at the University of Tsukuba, he did a year abroad at Tsukuba University. During that time, he joined the Kendo Club. In addition to practicing at the University of Tsukuba, he had the opportunity to practice at Fukuoka Ohori High School and with The Tokyo Metropolitan Police.</p>
            <p>Masa sensei is currently teaching and training in pursuit of becoming a better person, kendo practitioner, and instructor and hopes that other members of the dojo find and enjoy their own path in Kendo.</p>
        </div>
    </article>
</section>

<section class="page-section page-section:sensei aaron-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/wong.jpg" alt="Aaron Wong in Kendo Gear"></figure>
        <div>
            <h2 id="wong">Aaron Wong</h2>
            <p> Wong sensei holds a 4th degree Black belt and has been practicing Kendo since July 1st, 2000. Born and raised in Monterrey, Mexico, he found out about Kendo while attending a Japanese culture seminar held in his University, since then, started practicing with Asociación de Kendo del Estado de Nuevo León (AKNL) until 2022 when he moved to the Dallas area.</p>
            <p>During his college years he co-funded his University Kendo Club, and later became part of the Mexican national team in 2005-2006. He had the honor to be selected to attend the 43rd Foreign Kendo Leaders' Summer Seminar 2016 held at Kitamoto, Japan, this is an event where 56 Kendo leaders from 44 countries are selected to perfect their technique and teaching abilities so they can share this acquired knowledge among Kendo practitioners in their home country.</p>
            <p>Wong sensei enjoys teaching and learning from everyone, he's always happy to meet new people and help them achieve their goals. He holds a Bachelor in Computer Science focused mainly in Data & Analytics.</p>
        </div>
    </article>
</section>

<section class="page-section page-section:sensei okuji-block">
    <article>
        <figure><img class="image-shadow" src="/img/sensei/okuji.jpg" alt="Okuji in Kendo Gear"></figure>
        <div>
            <h2 id="okuji">Shigeto Okuji</h2>
            <p>Okuji Sensei holds a 4th degree Black Belt. He started Kendo in early elementary school at a dojo taught by Senseis from Toray Industries Inc. in Nagoya, Japan, and continued Kendo in school club activities. During his time as a college exchange student in Rochester, NY, he joined a local Kendo dojo and was impressed by their passion, diligence, and sincerity towards Kendo, which reminded him of the great features of Kendo.</p>
            <p>After returning to Japan, he was away from Kendo for a while, but then moved back to the US in 2018 after a quarter of a century, and resumed Kendo with his daughter at Plano Kendo Dojo in the spring of 2023. What he likes about Kendo is that every age, every level, and every physique has its own Kendo style that can be pursued physically and mentally. He hopes to continue to practice Kendo for a long time in a friendly and enjoyable manner, while aiming for legitimate Kendo in the future.</p>
        </div>
    </article>
</section>