.message {
    border: 1px solid #d2d0d0;
    padding: 2em;
    font-size: 1.7vw;
    
    @supports(display: grid) {
        display: none;
    }
}

.section {
    display: none;
    
    @supports(display: grid) {
        display: block;
    }
}

.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background: #0c9a9a;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background-image:  url('https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
    background-position: center top;
    transition: transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
    cursor: pointer;
    counter-increment: item-counter;
    
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }
    
    &:hover {
        z-index: 50;
        transform: scale(1.05);
    }

    &--medium {
        grid-row-end: span 2;
    }

    &--wide {
        grid-row-end: span 2;
        grid-column-end: span 2;
    }
    
    &--large {
        grid-row-end: span 4;
    }
    
    &--full {
        grid-column-end: auto;
        
        @media screen and (min-width: 768px) {
            grid-column: 1/-1;
            grid-row-end: span 2;
        }
    }
    
    &__details {
        position: relative;
        z-index: 1;
        padding: 15px;
        color: #444;
        background: #fff;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #828282;
        
        &:before {
            content: counter(item-counter);
            font-weight: bold;
            font-size: 1.1rem;
            padding-right: 0.5em;
            color: #444;
        }
    }
}