// Variables
$head-type: 'Oswald', 'Helvetica Neue', sans-serif;
$head-em-type: 'Oswald', sans-serif;
$body-type: 'Roboto Condensed', serif;

// Raw colors
$black: #32213A;
$white: #FBFBFB;
$red: #BB1F3B;
$blue: rgb(38, 75, 145);

// Type colors
$head-color: #ACC3EF;
$subhead-color: #ACC3EF;

// Background colors
$accent-color: #103272;
@mixin main-gradient($start-percent: 0%) {
    background: linear-gradient(180deg, rgb(38, 75, 145) $start-percent, rgba(187, 31, 59, 0) 100%);
}

// Basic type rhythm controls
$header-spacing: 2rem;
$paragraph-spacing: 2rem;
$article-padding: 2vh 10vw;