<!-- Footer -->
<footer class="{% if page.fileSlug == "" %}footer:home{% endif %}">
    <div class="footer-content">
        <article>
            <button id="home-link" {% if page.fileSlug != "" %}onclick="location.href='{{ "/" | url }}'"{% endif %}><img src="{{ "/img/main/logo.svg" | url }}" alt="Plano Kendo Dojo logo"></button>
            <address>
                <span>Plano Kendo Dojo</span> <br>
                Tom Muehlenbeck Recreation Center <br>
                5801 W Parker Rd. Plano, TX 75093 <br>
                Head Instructor: C, Yang
            </address>
        </article>
        <article>
            <h3>contact</h3>
            <ul>
                <li><address><a class="email-link" href="mailto:planokendodojo@gmail.com">planokendodojo@gmail.com</a></address></li>
                <li><a class="footer-link" {% if page.fileSlug != "contact" %}href="{{ "/contact/#hours" | url }}"{% endif %} id="hours-link">hours</a></li>
                <li><a class="footer-link" {% if page.fileSlug != "contact" %}href="{{ "/contact/#location" | url }}"{% endif %} id="location-link">location</a></li>
            </ul>
        </article>
        <article>
            <h3>about</h3>
            <ul>
                <li><a class="footer-link" href="{{ "/sensei" | url }}">our sensei</a></li>
                <li><a class="footer-link" href="{{ "/dojo" | url }}">our dojo</a></li>
            </ul>
        </article>
        <article>
            <h3>resources</h3>
            <ul>
                <li><a class="footer-link" href="{{ "/kendo/" | url }}">kendo information</a></li>
                <li><a class="footer-link" href="{{ "/newsletter/" | url }}">news &amp; events</a></li>
            </ul>
        </article>
        <article>
            <h3>hours</h3>
            <ul><li>Visit the <a class="hours" href="https://anc.apm.activecommunities.com/planoparksandrec/activity/search?onlineSiteId=0&activity_select_param=2&activity_keyword=kendo&viewMode=list">Plano Parks and Recreation website</a> for practice times this season</li></ul>


            <!--<div class="covid" style="color: white">Masks will be strongly recommended and appropriate COVID protocols as designated by the Center will be followed.</div>-->
        </article>
    </div>
    
    <div class="footer-etc">
        <div id="copyright">
            Powered by <a class="footer-link" target="_blank" href="https://www.kaizen.io/"><u>Kaizen</u></a> <br>
            &copy; 2019 All Rights Reserved
        </div>
        
        <div id="social-media">
            <a href="https://www.facebook.com/groups/166056277443687/?ref=share"><img src="/img/main/logo-fb-simple.svg" alt="Facebook Logo Link"></a>
            <a href="https://www.instagram.com/planokendo/"><img src="/img/main/logo-instagram.svg" alt="Instagram Logo Link"></a>
        </div>
    </div>
</footer>