<!-- Main Sticky Navigation -->
<!--
<section class="index-alert">
    <span><strong style="color:#BB1F3B;">IMPORTANT:</strong> Please see <a {% if page.fileSlug != "contact" %}href="{{ "/contact/#hours" | url }}"{% endif %} id="hours-link">updated hours for May/Summer Semester</a>.</span>
</section>
-->
<nav class="{% if page.fileSlug == "" %}index{% endif %} animate">
    <button id="home-link" {% if page.fileSlug != "" %}onclick="location.href='{{ "/" | url }}'"{% endif %} class="mobile logo"><img src="{{ "/img/main/logo_mobile.svg" | url }}" alt="Plano Kendo Dojo" draggable="false"></button>
    <button id="home-link" {% if page.fileSlug != "" %}onclick="location.href='{{ "/" | url }}'"{% endif %} class="desktop"><img src="{{ "/img/main/logo.svg" | url }}" alt="Plano Kendo Dojo" draggable="false"></button>
    <button class="mobile menu" style="cursor: pointer;">
        <svg draggable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M23 13H1C0.4 13 0 12.6 0 12C0 11.4 0.4 11 1 11H23C23.6 11 24 11.4 24 12C24 12.6 23.6 13 23 13Z" fill="#32213A"/>
            <path d="M23 6H1C0.4 6 0 5.6 0 5C0 4.4 0.4 4 1 4H23C23.6 4 24 4.4 24 5C24 5.6 23.6 6 23 6Z" fill="#32213A"/>
            <path d="M23 20H1C0.4 20 0 19.6 0 19C0 18.4 0.4 18 1 18H23C23.6 18 24 18.4 24 19C24 19.6 23.6 20 23 20Z" fill="#32213A"/>
        </svg>
    </button>
    
    <ul class="desktop">
        <li>
            <a {% if page.fileSlug != "" %}href="{{ "/" | url }}"{% endif %} id="home-link">home</a>
        </li>
        <li>
            <a href="{{ "/dojo/" | url }}">our dojo</a>
        </li>
        <li>
            <a href="{{ "/sensei/" | url }}">our sensei</a>
        </li>
        <li>
            <a href="{{ "/contact/" | url }}">contact</a>
        </li>
        <li>
            <a href="{{ "/kendo/" | url }}">kendo</a>
        </li>
        <li>
            <a {% if page.fileSlug != "contact" %}href="{{ "/contact/#hours" | url }}"{% endif %} id="hours-link">hours</a>
        </li>
        <li>
            <a href="{{ "/newsletter/" | url }}">news &amp; events</a>
        </li>
    </ul>
</nav>

<nav class="mobile mobile-menu">
    <button id="home-link" {% if page.fileSlug != "" %}onclick="location.href='{{ "/" | url }}'"{% endif %} class="mobile logo"><img src="{{ "/img/main/logo_mobile.svg" | url }}" alt="Plano Kendo Dojo" draggable="false"></button>
    <button class="menu-exit">
        <img src="{{ "/img/main/i-remove.svg" | url }}" alt="Exit Menu">
    </button>
    <ul class="mobile">
        <li>
            <a href="{{ "/" | url }}" id="home-link">home</a>
        </li>
        <li>
            <a href="{{ "/dojo/" | url }}">our dojo</a>
        </li>
        <li>
            <a href="{{ "/sensei/" | url }}">our sensei</a>
        </li>
        <li>
            <a href="{{ "/contact/" | url }}">contact</a>
        </li>
        <li>
            <a href="{{ "/kendo/" | url }}">kendo</a>
        </li>
        <li>
            <a {% if page.fileSlug != "contact" %}href="{{ "/contact/#hours" | url }}"{% endif %} id="hours-link">hours</a>
        </li>
        <li>
            <a href="{{ "/newsletter/" | url }}">news &amp; events</a>
        </li>
    </ul>
</nav>