<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Search Engine MetaData -->
    <meta name="description" content="Taught by masters of the art, Plano Kendo Dojo reveals a path of physical and mental discipline through Kendo">
    
    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="https://planokendo.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Plano Kendo Dojo">
    <meta property="og:description" content="Taught by masters of the art, Plano Kendo Dojo reveals a path of physical and mental discipline through Kendo">
    <meta property="og:image" content="/img/backgrounds/front-cover.jpg">
    
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary"></meta>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/main/favicon.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="{{ "/css/style.css" | url }}">
    
    <title>{{ title }}</title>
</head>
<body class="{{ "home" if page.fileSlug == "" else "subpage" }}">
    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    <script src="{{ "/js/main.js" | url }}"></script>
</body>
</html>