button {
    border: 2px solid $white;
    color: $white;
    font-size: 1.5rem;
    padding: 10px 0px;
    font-style: normal;
    background: none;
    font-family: $body-type;
    text-decoration: none;
}

button:active {
    box-shadow: none;
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}