/* 
    The footer is essentially a flex-box of articles
*/
footer {
    padding: 2vw 6vw 2vw 6vw;
    color: $black;

    .footer-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5vw;

        article {
            // Contact address styling
            margin: 0 1.5rem;

            &:first-child {
                button {
                    background: none;
                    border: none;
                    margin-bottom: 2rem;
                    width: 35%;
                    background: none;
                    border: none;
                    img {
                        width: 100%;
                    }
                }
                
                address {
                    font-style: normal;
                    font-family: $body-type;
                    font-size: 0.9rem;
                    line-height: 1.5;
            
                    span {
                        font-family: $head-type;
                    }
                }
            }
    
            h3 {
                font-family: $head-type;
                color: $red;
                margin-bottom: 1vw;
                font-size: 1.25rem;
            }
    
            ul {
                display: inline-block;
                list-style-type: none;
                font-family: $body-type;
    
                li {
                    margin-bottom: 0.75rem;
                    font-size: 1rem;
    
                    address {
                        font-style: normal;
                    }
                }
            }
        }
    }

    // Social media and copyright styling
    .footer-etc {
        padding: 0 1.4rem;
        display: flex;
        justify-content: space-between;

        #copyright {
            line-height: 2;
            font-family: $body-type;
            vertical-align: middle;
        }

        #social-media {
            padding: 0.5rem 0;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 10%;
            
            img {
                margin: 0 0.5rem;
                min-width: 1.5rem;
                width: 50%;
            }
        }
    }
}

// Custom footer styling bc only for this page, the footer is black
.footer\:home {
    background-color: black;

    li, address, #copyright {
        color: $white;
    }
}

@media only screen and (max-width: 1100px) {
    footer {
        padding: 2rem 6vw;

        .footer-content {
            flex-flow: row wrap;
            align-content: flex-start;

            article {
                flex: 1 40%;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    // Stack the footer articles
    footer {
        .footer-content {
            padding: 5% 0;
            margin-bottom: 0;
            // flex-direction: column;
    
            article {
                margin-bottom: 1.5rem;

                h3 {
                    font-size: 1.5rem;
                }

                ul li {
                    font-size: 1.125rem;
                }
            }
        }

        .footer-etc {
            #social-media{
                width: 30%;
                
                img {
                    float: right;
                    width: 2rem;
                    margin-left: 10%;
                }
            }
        }
    }
}