nav {
    position: fixed;
    z-index: 999;
    padding: 30px 25px 25px 30px;
    background-color: $white;
    box-shadow: 0 0 30px rgba(16, 50, 114, 0.30);

    // Logo button styling
    button {
        border: none;

        &.mobile.logo {
            padding: 0;
            margin: 0;
        }

        &.desktop {
            padding: 0;
        }   
    }
    
    .mobile {
        display: none;
    }

    // Navigation links styling
    ul {
        display: flex;
        align-items: center;

        flex: {
            direction: column;
        }
        
        li {
            display: inline-block;
            cursor: pointer;
            
            font: {
                family: $head-em-type;
                weight: 200;
                size: 1.3rem;
            }
            margin-top: 10px;
            color: $black;
        }
    }
}


// Styling for the mobile-menu slidedown
nav.mobile.mobile-menu {
    display: none;
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20vh 0;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    align-items: flex-start;
    visibility: hidden;
    transform: translateY(-120%);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    
    // Position mobile logo
    .mobile.logo{
        position: absolute;
        top: 1.5rem;
        left: 3rem;

        figure {
            width: 3rem;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    button {
        position: absolute;
        padding: 0;
        &.menu-exit {
            top: 1rem;
            right: 2rem;
        }
    }
    
    ul {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: relative;
        
        li {
            margin: 0.5rem 0;
            font-size: 3rem;
        }
    }
}

@media only screen and (max-width: 1460px) {
    // Change vertical navigation slip into a horizontal bar
    nav {
        padding: 1rem 3rem;
        padding-bottom: 0.5rem;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateY(0%);
        box-shadow: none;
        border-bottom: 1px solid lightgray;
        
        // Helper class to toggle animations
        &.animate {
            transition: transform 0.2s cubic-bezier(1, 0, 0, 1),
                background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1),
                border-bottom 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
        }

        img {
            margin-left: 0;
            margin-right: auto;
        }

        figure .mobile.menu {
            cursor: pointer;
        }

        // Helper class to toggle menu
        &.hide {
            transform: translateY(-130%);
        }

        // Helper class to hide desktop navigation menu
        .desktop {
            display: none;
        }

        // Reveal and style mobile navigation
        .mobile {
            display: initial;

            // Animate logo accordingly
            &.logo {
                margin-bottom: 2vw;

                img {
                    width: 80%;
                    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
        }
    }
    
    // When the mobile horizontal menu is at the top of the screen
    .index {
        background-color: unset;
        box-shadow: none;
        border-bottom: none;
        padding-top: 2rem;

        button svg path {
            fill: $white;
        }

        .mobile.logo {
            width: 2.5rem;

            img {
                width: 100%;
            }
        }
    }

    // Slide the mobile menu navigation down
    nav.mobile-menu.menu-active {
        background-color: $white;
        transform: translateY(0%);
    }
}