.subpage {
    // General Initial styles
    p {
        line-height: 1.5;
    }
    
    h1, h2 {
        line-height: 1.2;
    }
    
    h1 {
        color: $accent-color;
    }
    
    address {
        font-style: normal;
        font-family: $body-type;
        line-height: 1.5;
        
        span {
            font-family: $head-type;
        }
    }

    // Space the top for the title text
    .page-section:nth-child(3) {
        margin-top: 5.5rem;
    }
    
    // This mixin is for the horizontal bar filling image backgrouind
    @mixin image-fill-adjust {
        position: relative;
        width: 100vw;
        left: -10vw;
        margin-bottom: 3.5rem;
        
        img {
            width: 100%;
            height: 100%;
            
            object-fit: cover;
        }
    }
    
    
    .page-section {
        padding: $article-padding;
        
        h1 {
            margin-bottom: $header-spacing;
        }
        
        figure {
            @include image-fill-adjust;
        }
        
        p {
            margin-bottom: $paragraph-spacing;
        }
    }
}
