// move the anchor position up for when entering site with a link
// It's so things aren't awkwardly cut off
.anchor {
    position: relative;
    top: -120px;
    visibility: hidden;
}

// main content
.contact-block {
    margin-top: 8rem;

    article {
        margin-bottom: $header-spacing;

        // Need margin to be a little smaller than usual
        h2 {
            font-size: 2.35rem;
            margin-bottom: $header-spacing / 3;
        }

        a {
            font-family: $body-type;
        }

        address {
            margin-bottom: $header-spacing;
        }

    }
    iframe {
        position: relative;
        left: -10vw;
        width: 100vw;
    }
}

.schedule-block {
    h2 {
        font-size: 2.35rem;
        margin-bottom: $header-spacing;
    }

    ul {
        margin-bottom: $paragraph-spacing;
        list-style-type: none;

        li {
            font-family: $body-type;
            margin-bottom: 1rem;
        }
    }
}

@media only screen and (min-width: 1460px) {
    .contact-block {
        margin-top: 3vw;
        margin-bottom: 3rem;
        
        h1 {
            text-align: center;
            margin-bottom: 6rem;
            font-size: 10rem;
        }
        .container {
            display: flex;
            
            .content {
                flex: 1 1 30%;
            }

            // Set the proportions and realign based on other styling
            iframe {
                margin-left: -10vw;
                left: 10vw;
                flex: 3 1 100%;
                height: 60vh;
            }
        }
    }
}