// For the Japanese Article, we have to highlight it a different
// color for people to differentiate links in text
#pdf-link {
    color: $subhead-color;
}

.aboout-block {
    img {
        object-position: left 40%;
    }
}

// Styling the words section
// We might change this later for a more site-wide translation thing
.languages {
    display: flex;
    justify-content: center;
    
    button {
        color: $black; // Readjust the default button style
        border: 2px solid $black;
        margin: 2rem 0;
        margin-right: 1.8rem;
        width: 20vw;
        transition: color, background-color, 0.2s cubic-bezier(1, 0, 0, 1); // For when we hover
        
        // Not using :active bc if someone clicks away, it doesn't make sense anymore
        &.active {
            color: $white;
            background-color: $black;
        }
        
        // We have to change language type individually
        &:lang(ko-KR) {
            font-family: "Gothic A1", sans-serif;
            font-size: 1.4rem;
        }
        
        // Might cause unevenness among the boxes
        // Japanese type look bigger than Korean
        &:lang(ja-JP) {
            font-family: "Sawarabi Mincho", sans-serif;
            font-size: 1.2rem;
        }
    }
}

.headers {
    // This is the more performant display: none; approach supposedly
    .hide {
        height: 0;
        overflow: hidden;
    }
}

.sensei-message {
    // This is the more performant display: none; approach supposedly
    .hide {
        height: 0;
        overflow: hidden;
    }

    // PDF link animates to help people understand it's a link
    #pdf-link {
        transition: color, background-color, 0.4s cubic-bezier(1, 0, 0, 1);
    }

    #pdf-link:hover {
        color: $black;
    }

    div:lang(ko-KR) {
        h2, p {
            font-family: "Gothic A1", sans-serif;
        }
    }

    div:lang(ja-JP) {
        h2, p {
            font-family: "Swarabi Mincho", sans-serif;
        }
    }
}

.signature {
    font-family: $head-em-type;
}

@media only screen and (min-width: 800px) {
    .about-block {
        // Resize to prevent it from being too big
        figure {
            height: 60vh;
        }
    }
}

// For when we get to Desktop
@media only screen and (min-width: 1460px) {
    .about-block {
        margin-top: 4vw;

        // Make the type more prominent and balanced w/ layout
        h1 {
            text-align: center;
            margin-bottom: 4rem;
            font-size: 10rem;
        }
    }

    // Have to reposition where the image focuses
    .words-block {
        figure {
            img {
                padding: 0 25vw;
                object-position: center 15%;
            }
        }
    }
}