.gallery {
    .item {
        @for $i from 1 through 104 {
            &:nth-child(#{$i}) {
                background: url("../img/identity/gallery/" + $i + ".jpg");
                background-size: cover;
                background-position: center top;
            }
        }
    }
}

@media only screen and (min-width: 1460px) {
    .content-block\:gallery {
        margin-top: 8vw;

        h1 {
            text-align: center;
            margin-bottom: 3rem;
            font-size: 10rem;
        }
    }
}