$hero-background: url("../img/identity/gallery/31.jpg");

.hero-block {
    background: $hero-background no-repeat;
    background-size: cover;
    background-position: center center;

    min-height: 800px;
    max-height: 1080px;
    height: 100vh;
    width: 100vw;

    padding: 3vw 5vw;

    display: flex;

    z-index: 0;
}

/*
The position of the hero text article is controlled by padding and margins
Ideally, it should be absolutely positioned in a relative container
*/
.article-hero {
    max-width: 40%;
    padding: 4vw 0 2vw 12vw;
    
    h1 {
        margin-bottom: 6vw;
        padding-bottom: 10px;
        line-height: 120%;
        color: $white;
        
        span {
            color: $white;
            font-weight: 200;
            font-size: 3rem;
        }
    }
    
    // Limit the width of the paragraph to prevent overflow
    p {
        color: $white;
        margin-bottom: 70px;
        max-width: 80%;
    }
    
    button {
        width: 55%;
    }
}

// This vertical line is a div
.vertical-line {
    position: relative;
    top: 10vh;
    border: 0.5px solid $white;
    width: 1px;
    height: 70vh;
}

.lettering-hero {
    align-self: flex-start;
    width: 45%;
    max-width: 7rem;
    margin: 100px 50px;
}

.identity-block {
    z-index: 10;

    margin-bottom: 3vw;

    overflow-x: visible;
}

// Elements are arbitrarily positioned for easier control
.identity-block-description {
    position: relative;

    display: flex;

    padding: 4% 3%;
    margin-bottom: 2vw;
}

// Realign picture to overlap the article below
.identity-block-description_image {
    z-index: 10;

    margin-left: 5%;

    width: 45%;
    
    img {
        width: 100%;
    }
}

.identity-block-description_content {
    // Absolute position to overflow the section padding and onto the hero-block
    position: absolute;
    top: -12%;
    right: 8%;
    z-index: 5;

    background: $accent-color;

    width: 45%;

    padding: 4% 6% 5% 7%;
    
    h2 {
        font-size: 4.5rem;
        margin-bottom: 30px;
        color: $white;
    }
    
    p {
        color: $white;
        margin-bottom: 3vw;
    }
    
    button {
        width: 40%;
    }
}

// The gallery section
.gallery-index {
    // need specificity here prevent .item overlap with gallery subpage .item
    .item {
        // Create backgrounds for each image
        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                background-image: url("../img/identity/index_gallery/" + $i + ".jpg");
                background-size: cover;
                background-position: center;
            }
        }

        // Fix positioning of 1.jpg
        &:first-child {
           background-position: center top; 
        }

        &:last-child {
            // Adjust the shade of the last element
            &::after {
                background-color: black;
                opacity: 0.5;
            }
            
            // Make last index gallery item a link that fills the image
            a {
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: $head-type;
                font-size: 4rem;
                text-align: center;

                position: relative;
                z-index: 1000;

                width: 100%;
                height: 100%;
            }
        }
    }
}

// THIS ENTIRE PORTION WILL NOT BE COMPLETE W/O TESTIMONIAL TEXT CURRENTLY
.testimonial-block {
    display: none !important;
    margin-bottom: 5vw;
    h1 {
        margin-left: 33%;
        margin-bottom: 2vw;
        span {
            color: $black;
            font-weight: 400;
        }
    }
    
    div {
        display: flex;
        
        figure {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .vertical-line {
                border: 0.5px solid $black;
                position: relative;
                height: 400px;
                margin: 0 2vw;
            }
        }
        
        article {
            flex-grow: 2;
            width: 50%;
            background: $accent-color;
            padding: 2.5vw;
            display: flex;
            
            div {
                display: inline-block;
                width: 70%;
                
                h2{
                    width: 20vw;
                    margin-bottom: 2vw;
                }

                div {
                    width: 100%;
                    position: relative;
                    p {
                        display: inline-block;
                        color: $white;
                        position: absolute;
                        
                        &#big-quote {
                            top: -0.5vw;
                            padding: 0.5vw;
                            font-size: 3vw;
                        }

                        &:last-child {
                            left: 3vw;
                            width: 80%;
                        }
                    }
                }
            }
            aside {
                margin-left: 5%;
                padding: 4% 2%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                color: $white;
            }
        }
    }
}

.info-block {
    position: relative;
    z-index: 1;

    margin: 10rem 0;

    display: flex;
    
    overflow: visible;
}

// Readjust space distribution for image and text
.info-block-image {
    flex: 2 1 40%;
    padding-right: 5%;
    
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.info-block-content {
    flex: 1 50%;
    padding: 2% 10% 5% 1%;
    
    h1 {
        width: 100%;
        margin-bottom: 2.5vw;
    }
    
    p {
        width: 80%;
        margin-bottom: 3.5vw;
    }
    
    button {
        border: 2px solid $black;
        color: $black;
        width: 15vw;
    }
}

.sensei-block {
    padding: 3vw 8vw;

    position: relative;
    z-index: 0;

    overflow-y: hidden; // bc the sensei bio text gradient overflows w/ scroll
    
    background: url("../img/backgrounds/big_kendo_kanji.svg") center / 25% no-repeat , black;
}

.article-sensei-block-description {
    margin: {
        left: 6rem;
        bottom: 3rem;
    }

    h1 {
        margin-bottom: 2vw;
        color: $white;
        
        span {
            color: $blue;
        }
    }
}

.sensei-block-biography {
    display: flex;
    justify-content: space-around;

    overflow-y: visible;
    
    // For the "read more" link
    a {
        color: $subhead-color;
    }
}

// Actual biography text
// Elements are positioned because of the background layerss
.biography-container {
    position: relative;
    @include main-gradient(15%);

    width: 44%;

    margin: {
        left: 6rem;
        bottom: 4rem;
    }

    h2 {
        position: relative;
        z-index: 5;

        color: $white;
    }

    p {
        position: relative;
        z-index: 5;

        margin-bottom: 2vw;
        
        color: $white;
    }
}

.biography-image {
    position: relative;
    z-index: 1;
    
    width: 100%;
    
    img {
        width: 100%;
        max-height: 35rem;
        
        position: relative;
        
        object-fit: cover;
        object-position: top center;
    }
}

// Chris biography
.biography-sensei-chris {
    flex: 2 20%;

    left: -3.5%;

    margin-bottom: 10rem;
    padding: 1vw 3vw;
    
    h2 {
        margin-bottom: 2vw;
    }
    
    // Big margin to extend the gradient
    figure {
        margin-bottom: 10rem;
    }
}

// Song biography
.biography-sensei-song {
    right: 1%;
    top: 6vw;

    padding: 2vw 3vw;
    width: 55%;
    
    flex: 1 0 35%;

    h2 {
        margin-bottom: 2vw;
    }
}

.final-cta-block {
    background: url("../img/backgrounds/kendo-family.jpg") no-repeat center;
    background-size: cover;
}

// Horizontal line is just a div
.horizontal-line {
    height: 1px;
    width: 60%;

    border: 0.5px solid $white;
}

.lettering-final-cta-block {
    // Max-width for SVG to control responsiveness
    max-width: 30%;
    margin: 6vw;
}

.article-final-cta-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    h1 {
        color: $white;
        margin: {
            top: 2vw;
            bottom: 0.5vw;
        }
    }
    
    button {
        width: 13%;
        margin-bottom: 16vw;
    }
}


@media only screen and (max-width: 1500px), (max-height: 760px) {
    // Realign spacing
    .article-hero {
        margin-right: 8vw;
    }

    // Stack the "Our Dojo" article and image
    .gallery-index{
        .grid {
            grid-auto-rows: 10rem;
            grid-template-rows: unset;
        }
    }

    .identity-block-description {
        flex-wrap: wrap;
        
        margin-bottom: 2px;
        padding: 0;
    }

    .identity-block-description_content {
        position: relative;
        top: initial;
        right: initial;

        width: 100%;
        
        flex: 1 30rem;
        order: 1;

        // Japanese lettering background
        background-image: url(../../img/main/kendo_kanji_transparent.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;

        p {
            margin-bottom: 8rem;
        }

        button {
            margin-bottom: 2rem;

            width: 50%;
        }
    }

    .identity-block-description_image {
        flex: 1 50%;
        order: 2;

        margin-left: 0;

        width: 100%;
        
        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .info-block {
        padding-bottom: 4rem;
    }

    .info-block-content {
        h1 {
            font-size: 4rem;
        }

        p { 
            margin-right: 0;
        }
    }

    .biography-container, .article-sensei-block-description {
        margin-bottom: 4rem;
        
        h1 {
            font-size: 6rem;
            margin-bottom: 1rem;
        }
        
        p {
            margin-bottom: 4rem;
        }
    }
}

@media only screen and (max-width: 1080px) {
    .hero-block {
        background-position: 90% center;

        min-height: 50rem;
        max-height: 900px;
    }

    .article-hero {
        max-width: 60%;

        margin-top: 4rem;
        margin-left: 4vw;
    }

    // Hide the line and phrase
    .vertical-line, .lettering-hero {
        display: none;
    }

    // Currently hidden
    .testimonial-block {
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        h1 {
            padding: 0 4vw;
            margin: 0;
            text-align: center;
        }

        div {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;

            figure {
                justify-content: center;
                margin: 4vw 0;

                .vertical-line {
                    display: none;
                }
            }

            article {
                width: 100vw;
                flex-direction: column;

                div {
                    display: flex;
                    justify-content: center;
                    width: auto;

                    h2 {
                        width: 100%;
                        text-align: center;
                    }
                    
                    div {
                        p {
                            position: relative;
                            display: block;
                            text-align: center;

                            &#big-quote {
                                font-size: 6rem;
                                height: 4rem;
                            }
                        }   
                    }
                } 
                aside {
                    margin: 0;
                    flex-direction: row;
                    justify-content: center;

                    div {
                        margin: 0 20%;
                    }

                    svg {
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }

    // Stack senseis
    .sensei-block {
        padding: 1vw 6vw;
        padding-top: 3rem;
        margin-bottom: 0;

        background: black;
    }

    .article-sensei-block-description {
        margin-left: 0;
        padding: 0;
    }

    // the actual stacking is here
    .sensei-block-biography {
        flex-direction: column;
    }

    .biography-container {
        background: none;

        padding: 0;
        margin: 0;

        position: static;
        
        display: flex;

        width: 100%;

        //  Make sure the articles proportionately shrinks
        div {
            margin-bottom: 6rem;

            flex: 1 2 30%;
        }

        h1 {
            margin-bottom: 2rem;

            font-size: 6rem;
        }

        p {
            margin-bottom: 5rem;
        }

        button {
            width: 50%;
        }
    }

    // Fill space for horizontal text and image
    .biography-image {
        margin-left: 10%;

        flex: 2 1 20%;
    }

    .biography-sensei-chris {
        width: 100%;
        margin-bottom: 4rem;
        
        h2 {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        figure {
            margin-bottom: 0;
        }
    }

    .biography-sensei-song {
        margin-bottom: 4rem;

        width: 100%;

        h2 {
            margin-top: 0.5rem;
            margin-bottom: 2rem;
        }
    }

    // Make the Kendo info block stack
    .info-block {
        margin: 6rem 0;
        margin-bottom: 2rem;
        padding: 1vw 8vw;
        padding-bottom: 2rem;

        flex-direction: column;
        align-items: center;
    }

    // Make the image stretch across the screen
    .info-block-image {
        flex-basis: 100%;

        width: 100vw;

        margin-bottom: 2rem;
        padding: 0;

        img {
            width: 100%;
            
            object-fit: contain;
        }
    }

    .info-block-content {
        h1 {
            margin-bottom: 8vw;
        }
        
        p {
            width: 100%;
            margin: 0;
            margin-bottom: 5rem;
        }
        
        button {
            width: 50%;
        }
    }

    .article-final-cta-block {
        button {
            width: 25%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .home h1 {
        line-height: 120%;
    }

    // Resize to fit
    .article-hero {
        margin-top: 4rem;
        padding-left: 2vw;

        white-space: initial;

        h1 {
            margin-bottom: 15vw;
        }

        p {
            margin-bottom: 8vw;
        }
    }

    .identity-block-description {
        margin-bottom: 0;
    }

    .identity-block-description_content {
        p {
            margin-bottom: 3.5rem;
        }

        button {
            margin-bottom: 1rem;
            width: 40%;
        }
    }

    .final-cta-block {
        background: no-repeat center top / cover url("../img/backgrounds/kendo-family.jpg");
    }

    // Resize for responsiveness
    .article-final-cta-block {
        h1 {
            margin-top: 5rem;
            margin-bottom: 1.5rem;
        }

        img {
            // width: 15%;
            margin: 8rem 2rem;
        }

        button {
            margin-bottom: 12rem;
            width: 40%;
        }
    }
}

@media only screen and (max-width: 620px) {
    .article-hero {
        margin-top: 8rem;

        p {
            max-width: 80%;
        }
    }

    .sensei-block {
        padding-bottom: 0;
    }

    // Make horizontal layout per article vertical
    .biography-container {
        display: initial;
    }

    // Fill horiztonal space for picture
    .biography-image {
        margin: 0;
        width: 100vw;

        // Move left to avoid being padded in
        position: relative;
        left: -6vw;
        
        img {
            width: 100%;
            
            object-fit: cover;
            object-position: center top;
        }
    }

    // Fix unnatural spacing
    .biography-sensei-song {
        margin-bottom: 0;
    }
}

// Fix specific styles that break under small screen sizes
@media only screen and (max-width: 524px) {
    .home h1 {
        font-size: 3.5rem;
    }

    .hero-block {
        background-position: 73% center;

        max-height: 700px;

        display: flex;
    }

    .sensei-block {
        // To hide strange height / aspect ratio scaling for sensei images
        margin-bottom: -2px;
        padding-bottom: 0;
    }

    .article-hero {
        margin: auto 0 auto 5rem;
        padding: 0;
    }

    .identity-block-description_content {
        background-image: none;
    }
}