.video-block {
    h1 {
        font-size: 2.35rem;
    }

    iframe {
        margin-top: 2rem;
        position: relative;
        left: -10vw;
        width: 100vw;
    }
}

.content-block\:kendo {
    margin-top: 8rem;

    h2 {
        color: $black;
        font-size: 2.35rem;
        margin-bottom: $header-spacing;
    }
}

@media only screen and (min-width: 800px) {
    // Refocus image
    .content-block\:kendo {
        figure {
            img {
                object-position: center 10%;
            }
        }
    }

    // Center the video and widen
    .video-block {
        iframe {
            margin-left: 50vw;
            transform: translateX(-50%);
            width: 60%;
            
        }
    }
}

@media only screen and (min-width: 1460px) {
    .content-block\:kendo {
        margin-top: 8vw;

        h1 {
            text-align: center;
            margin-bottom: 3rem;
            font-size: 10rem;
        }
    }

    /* Fix iframe aspect ratio
        While this doesn't fix it entirely,
        the idea is to scale it to something reasonable
    */
    .video-block {
        iframe {
            height: 30vw;
        }
    }
}