h2 {
    font-size: 2.35rem;
    margin-bottom: $header-spacing;
}

.chris-block {
    margin-top: 8rem;
}

@media only screen and (min-width: 800px) {
    .page-section.page-section\:sensei {
        // center and widen images
        figure {
            left: unset;
            width: 60%;
            height: 60vh;
            margin-left: 50%;
            transform: translate(-50%);
        }
    }

    // refocus image to cover more important details
    .chris-block {
        figure {
            img {
                object-position: center top;
            }
        }
    }

    // refocus image on Song Sensei
    .song-block {
        figure {
            img {
                object-position: center 15%;
            }
        }
    }
}

@media only screen and (min-width: 1460px) {
    .page-section.page-section\:sensei {
        // Readjust the picture proportions for horizontal layout
        article {
            display: flex;

            figure {
                order: 2;
                flex: 2 1 20%;
                margin: 4vw;
                transform: translateX(0);
            }

            div {
                order: 1;
                flex: 1 1 50%;
            }
        }
    }

    // Center and distribute typography spacing for hero text
    .chris-block {
        margin-top: 5vw;
        h1 {
            text-align: center;
            margin-bottom: 5rem;
            font-size: 10rem;
        }
    }
}